@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">PENGAJUAN UANG MAKAN LEMBUR</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" name="npk" id="txtNpk" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Department</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlDept" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Shift Kerja</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlShift" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Waktu Lembur</label>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="dateStart" class="form-control" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="dateEnd" class="form-control" />

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Nama</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" name="npk" id="txtNama" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Lokasi</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlLokasi" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Day / Night</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlDay" class="form-control">
                                            <option value="">All</option>
                                            <option value="Day">Day</option>
                                            <option value="Night">Night</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 160px">
                                <button type="button" id="btSearch" class="btn btn-primary">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status Hari</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlStatsHari" class="form-control">
                                            <option value="">All</option>
                                            <option value="Work Day">Work Day</option>
                                            <option value="Free">Free</option>
                                            <option value="Cuti Bersama">Cuti Bersama</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Meal Time</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlMealtime" class="form-control">
                                            <option value="">All</option>
                                            <option value="1">Meal Time Pagi (07:00)</option>
                                            <option value="2">Meal Time Siang (12:00)</option>
                                            <option value="3">Meal Time Sore (19:00)</option>
                                            <option value="3">Meal Time Malam (23:59)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlStats" class="form-control">
                                            <option value="">All</option>
                                            <option value="D">Draft</option>
                                            <option value="P">On Progress</option>
                                            <option value="A">Approved</option>
                                            <option value="R">Rejected</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="btnSubmit" class="btn btn-success">
                        <span>SUBMIT</span>
                    </button>

                </div>
                <br>
                <div class="table-responsive">
                    <table id="tableMP" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="22px">No.</th>
                                <th class="text-center">
                                    <input type="checkbox" id="chkSelectAll" class="filled-in chkSelectAll" value="1" />
                                    <label for="chkSelectAll"> </label>
                                </th>
                                <th>Nama / NPK</th>
                                <th>Shift</th>
                                <th>Waktu Lembur</th>
                                <th>Meal Time/Info</th>
                                <th>Golongan</th>
                                <th>Meal Fee</th>
                                <th>Status</th>
                                <th>Tgl Buat</th>
                                <th>Day/Night</th>
                            </tr>
                        </thead>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLoader" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md modal-center" role="document">
        <div class="modal-content" style="border-radius:5px; padding:25px !important;">
            <div id="divLoadData" class="text-center p-100">
                <div class="preloader pl-size-xl">
                    <div class="spinner-layer pl-red-grey">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p class="text-center">Please wait ...</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var totalRows = 2500;
    let table = $("#tableMP").DataTable({
        "pageLength": parseInt(totalRows),
        "lengthChange": false,
        "info": false,
        "searching": false,
    });
    $(document).ready(function () {

        LoadLokasi();
        LoadDept();
        LoadShift();

        $("#btSearch").click(function () {
            LoadGV();
        });
        $("#btnSubmit").click(function () {
            submit();
        });
        $('#chkSelectAll').on('click', function () {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        })
    });

    function LoadGV() {
        var filter = {
            date_start: $("#dateStart").val(),
            date_end: $("#dateEnd").val(),
            mealtime: $("#ddlMealtime").val(),
            shift: $("#ddlShift").val(),
            locationID: $("#ddlLokasi").val(),
            npk: $("#txtNpk").val(),
            name: $("#txtNama").val(),
            stats: $("#ddlStats").val(),
            ID_dept: $("#ddlDept").val(),
            dws_type: $("#ddlStatsHari").val(),
            dayNight: $("#dayNight").val(),
            
        };
        $("#modalLoader").modal('show');
        $.ajax({
            url: "/UML/loadGV",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableMP')) {
                    $('#tableMP').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableMP").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        {
                            "data": "request_id", "name": "request_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                if (row.stats == "D")
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelect" value="' + data + '"/> <label for="id' + data + '"> </label>'
                                else
                                    return ''
                            }
                        },
                        { "data": "employee", "name": "employee", "autoWidth": true },
                        { "data": "master_Shift_Header_Name", "name": "master_Shift_Header_Name", "autoWidth": true },
                        {
                            "data": "date_start", "name": "date_start", "autoWidth": true,
                            'render': function (data, type, row) {
                                return '<b>' + tanggal(row.date_start) + ' ' + jam(row.date_start) + ' - ' + tanggal(row.date_end) + ' ' + jam(row.date_end) + '</b>' + '<br>(' + row.typeName + ')'
                            }
                        },
                        {
                            "data": "info", "name": "info", "autoWidth": true,
                            'render': function (data, type, row) {
                                return '<b>' + data + '</b><br>(' + jam(row.meal_time) + ')'
                            }
                        },
                        { "data": "golongan_name", "name": "golongan_name", "autoWidth": true },
                        { "data": "fee", "name": "fee", "autoWidth": true },
                        { "data": "status", "name": "status", "autoWidth": true },
                        {
                            "data": "last_update", "name": "last_update", "autoWidth": true,
                            'render': function (data, type, row) {
                                return tanggal(data)
                            }
                        },
                        { "data": "dayNight", "name": "dayNight", "autoWidth": true }
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });
    }
    function submit() {
        var selectedData = [];
        $("#tableMP input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
            var check = row.cells[1].firstChild;
            var id = check.value;
            selectedData.push({
                "keyID": id
            });
        });
        console.log(selectedData);
        var jsonData = JSON.stringify(selectedData);
         $.ajax({
            type: 'POST',
            url: "/UML/submitPengajuan",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    LoadGV();
                    alert(response.msg);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function jam(time_) {
        var dateTimeString = time_;
        var dateObj = new Date(dateTimeString);
        var hours = dateObj.getHours();
        var minutes = dateObj.getMinutes();
        var formattedTime = ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2);
        return formattedTime;
    }
    function tanggal(tgl) {
        var dateTimeString = tgl;
        var dateObj = new Date(dateTimeString);
        var day = dateObj.getDate();
        var month = dateObj.getMonth(); // getMonth() mengembalikan nilai 0-11
        var year = dateObj.getFullYear();
        var monthNames = [
            'Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
            'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'
        ];
        var monthName = monthNames[month];
        var formattedDate = day + ' ' + monthName + ' ' + year;
        return formattedDate;
    }

    function LoadLokasi() {
        $("#ddlLokasi").empty();
        $.ajax({
            type: "POST",
            url: "/UML/GetLokasi",
            success: function (data) {
                var s = '';
                s = '<option value="">Pilih</option>';
                for (var i = 0; i < data.lis.length; i++) {
                    s += '<option value="' + data["lis"][i].value + '">' + data["lis"][i].text + '</option>';
                }
                $("#ddlLokasi").html(s);
            }
        });
    }
    function LoadDept() {
        $("#ddlDept").empty();
        $.ajax({
            type: "POST",
            url: "/UML/GetDept",
            success: function (data) {
                var s = '';
                s = '<option value="">Pilih</option>';
                for (var i = 0; i < data.lis.length; i++) {
                    s += '<option value="' + data["lis"][i].value + '">' + data["lis"][i].text + '</option>';
                }
                $("#ddlDept").html(s);
            }
        });
    }
    function LoadShift() {
        $("#ddlShift").empty();
        $.ajax({
            type: "POST",
            url: "/UML/GetShift",
            success: function (data) {
                var s = '';
                s = '<option value="">Pilih</option>';
                for (var i = 0; i < data.lis.length; i++) {
                    s += '<option value="' + data["lis"][i].value + '">' + data["lis"][i].text + '</option>';
                }
                $("#ddlShift").html(s);
            }
        });
    }

</script>