﻿body {
}

.main_logo 
{
    width: 360px;
    margin-top:10px;
}

.right-login 
{
    box-shadow: -2px 0px 0px 0px rgba(255, 255, 255, 0.8);
    padding-left: 0px;
    background: none !important;
}

.table.example
{
    max-width: none !important;
}

.static,.static .chosen-container
{
    position:static !important;
}

.freeze-multi-scroll-left-body,.freeze-multi-scroll-left-body-inner
{
    min-height:80px !important;
}

.form-inline 
{
    display: inline-block !important;
}

.output, .output canvas
{
    width:120px !important;
    height:120px !important;
}

.wid-220px
{
    width: 220px !important;
    display:inline-block;
    border: thin solid #CECECE;
    height:36px;
    margin-left:10px;
}

td.yellow {
    background: grey !important;
}

td.yellow select {
    background: grey !important;
    color: white !important;
}

.table-bordered tbody tr td, .table-bordered tbody tr th {
    padding: 6px 8px !important;
    border: 1px solid #eee !important;
    font-size: 10pt !important;
}

.table tbody tr td, .table tbody tr th {
    padding: 5px 8px !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

.DTFC_LeftBodyLiner, .DTFC_LeftBodyWrapper 
{
    overflow-x:hidden !important;
}

.chosen-container {
    position: relative !important;
}

.limit 
{
    width: 420px;
}

.card-vehicle 
{
    height:248px;
}

.invalid table tr td
{
    color:Red !important;
}

#ContentPlaceHolder1_ucBrowse_ProductMenu .card 
{
    min-height: 380px;
    padding: 6px;
}

.mtop-16 
{
    margin-top:16px;
}

.mtop-22 
{
    margin-top:36px;
}

.cursor 
{
    cursor:pointer;
}

.info-box 
{
    margin-bottom: 16px;
    border-radius:10px;
}

.static .chosen-container .chosen-drop 
{
    position: relative;
    width: 400px !important;
}

.small-text, .small-text .form-control 
{
    font-size: 9pt !important;
}

.dashboard-stat-list li.blog {
    padding: 16px 0 0 0;
    height: 36px;
    width: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    white-space: nowrap;
}

.bg-orange .table tr:hover td
{
    background: #C67700 !important;
}

.card .body.box-pdk .col-md-10 
{
    margin-bottom: 12px;
}

.cursor 
{
    cursor: pointer;
}

.less-margin-bottom 
{
    margin-bottom: 9px !important;
}

.combo-type 
{
    margin-top: 10px; 
    height: 25px;
}

.alert.fore-black 
{
    color:#000000 !important;
}

.table-container
{
    width:100%;
    overflow-x: auto;
}

.rounded 
{
    border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    -webkit-border-radius:100%;
    margin-left:25px;
}

.rounded2
{
    border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    -webkit-border-radius:100%;
    margin-left:6px;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #ffffff;
}

td .chosen-container.chosen-container-single {
   /* width: 500px !important; */
}

td .chosen-container .chosen-drop 
{
    width: 500px !important;
}

.date-field 
{
    margin-right: 26px;
}

.form-line .chosen-container 
{
    position:static;
}

ul.list-none li 
{
    list-style:none;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

th, td, label, li 
{
    word-break:normal !important;
}

.select2-container 
{
    width: 100% !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single 
{
    background-color: transparent !important;
}

.round 
{
    border-radius:100%;
}

.dropdown-menu ul.menu .menu-info {
    width: 200px;
    padding: 0px 5px;
}

[type="radio"].with-gap.radio-col-red:checked + label:before, .with-gap [type="radio"]:checked + label:before {
  border: 2px solid #F44336 !important; }

[type="radio"].with-gap.radio-col-red:checked + label:after, .with-gap [type="radio"]:checked + label:after {
  background-color: #F44336;
  border: 2px solid #F44336; }

.card .header h2 {
    margin-right: 20px;
}

.relative .chosen-container 
{
    position: relative !important;
}

.select2-container--default .select2-selection--single 
{
    border:none !important;
}

div 
{
    word-break:break-all !important;
}

[type="checkbox"]:checked.chk-col-red + label:before, span.chk-col-red [type="checkbox"]:checked + label:before{
    border-right: 2px solid #F44336;
    border-bottom: 2px solid #F44336;
}

[type="checkbox"]:checked.chk-col-teal + label:before, span.chk-col-teal [type="checkbox"]:checked + label:before{
    border-right: 2px solid #009688;
    border-bottom: 2px solid #009688;
}

.list-group-item .material-icons 
{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.list-group-item.collapsed .material-icons 
{
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

/*span.form-control
{
    padding-top:12px;
}*/

.large-icon 
{
    font-size:78pt;
    margin-top:22%;
}

.no-float 
{
    float: none !important;
}

.pad 
{
    padding-left: 8px !important;
}

.margin-auto 
{
    margin: 0px auto;
}

.small-margin 
{
    margin-top:12px;
}

.medium-margin 
{
    margin-top:22px;
}

table.list tr td 
{
    padding-top: 15px !important;
}

.x-large-margin 
{
    margin-top:100px;
}

.medium-font 
{
    font-size: 12pt;
}

.large-font 
{
    font-size: 14pt;
}

.title-bar 
{
    margin-top: 32px;
}

.box-red 
{
    width: 80px;
    height:10px;
    background: red;
    margin-bottom: 20px;
}

.no-margin 
{
    margin:0 !important;
}

.border-thin  
{
    border-bottom: thin solid #cccccc !important;
}

.top 
{
    top:5px !important;
}

.bottom 
{
    bottom: -5px !important;
}

.center 
{
    text-align:center !important;
}

.fluid 
{
    width: 100% !important;
    max-width: none !important;
}

.bold 
{
    font-weight: bold !important;
}

.no-border
{
    border:none !important;
}

table.no-border tr td, table.no-border tr, table.no-border, table.no-border tr th
{
    border:none !important;  
}

label 
{
    margin-bottom: 0px !important;
}

.no-padding-right 
{
    padding-right:0 !important;
}

.option-btn 
{
    padding:10px 25px;
    background:#fff;
}

.no-padding 
{
    padding:0 !important;
}

table.min-pad tr td 
{
    padding:6px !important;
}

.text-center 
{
    text-align: center;
}

.clear 
{
    clear:both;
}

span.form-control 
{
    height: auto !important;
}

.planc 
{
    width:55% !important;
}

.combo-periode 
{
    width:85px;
    margin-right:20px;
    border-radius:4px;
    padding:2px;
    font-size:10pt;
}

.combo-page 
{
    width:65px;
    margin-right:20px;
    border-radius:4px;
    padding:2px;
    font-size:10pt;
}

.updown 
{
    float:right !important;
    margin-top:6px;
}

.text-center 
{
    text-align: right;
}

.padding-box 
{
    padding-right: 8px;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.v-top 
{
    vertical-align: top;
}

.padding-8 
{
    padding: 8px;
}

.padding-12 
{
    padding: 12px;
}

.error 
{
    color: Red;
    /*font-weight:bold;*/
}

.d_none 
{
    display: none;
}

.v_none 
{
    display: none !important;
}

.box-100 
{
    width: 160px;
    float: left;
    padding-left: 10px;
}

.box-400 
{
    width: 400px;
    float: left;
    padding-left: 10px;
}

.text-center 
{
    text-align:center;
}

.valign-middle 
{
    vertical-align:middle !important;
}

.bg-login 
{
    background: url('../images/login.jpg') no-repeat;
    background-size: cover;
    
}

.margin-left 
{
    margin-left: 38px;
}

.sml-left 
{
    margin-left: 30px;
}

.white 
{
    color: #fff !important;
}

navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
   /* margin-left: 38px; */ }

.ls-closed .bars:after, .ls-closed .bars:before {
    top: 13px;
}

.ls-closed nav {
    margin-left:0px;
    padding-right:0px;
}

.navbar-nav > li > a {
    margin-bottom: 8px;
    margin-top:13px;
}

.sidebar 
{
    top : 0px;
    height: calc(100vh);
}

nav,.sidebar
{
    transition: all 500ms;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.overlay-open nav 
{
    margin-left: 300px;
    padding-right:300px;
}

.right-sidebar {
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
}

.bars:after, .bars:before {
  font-family: 'Material Icons';
  font-size: 24px;
  position: absolute;
  top: 13px;
  left: 20px;
  margin-right: 10px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.bars:before {
  content: '\E5D2';
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.bars:after {
  content: '\E5C4';
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0); }
  
ul.list
{
    padding-bottom: 27px;
}

.chosen-container-multi .chosen-choices 
{
    border: none !important;
    background-image: none !important;
    padding: 5px 0px;
}

.ui-keyboard.ui-widget-content.ui-widget 
{
    background:#000 url("../Library/Virtualkeyboard/css/images/ui-bg_inset-soft_25_000000_1x100.png") 50% bottom repeat-x;
}
