@{
    Layout = "~/Views/Shared/_Layoutp.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">WORK SCHEDULE</h4>
                <table class="table no-border">
                    <tr>
                        <td width="20px" class="valign-middle"><span class="material-icons">flag</span></td>
                        <th width="225px" class="valign-middle">Nama Shift</th>
                        <td colspan="2">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" name="npk" id="txtShift" class="form-control" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20px" class="valign-middle"><span class="material-icons">flag</span></td>
                        <th width="225px" class="valign-middle">Kode Shift</th>
                        <td colspan="2">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" name="npk" id="txtKodeShift" class="form-control" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td align="right" colspan="4">
                            <button type="button" id="btSearch" class="btn btn-primary">
                                <i class="material-icons">search</i>
                                <span>FILTER</span>
                            </button>
                          
                        </td>
                    </tr>
                </table>
                <div class="table-responsive">
                    <table id="tableMP" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="22px">No.</th>
                                <th>Name Shift</th>
                                <th>Kode Shift</th>
                                <th>Is Active</th>
                                <th>Tgl Ubah</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        loadgv();
        $("#btSearch").click(function(){
           loadgv();
        });
    });
    function loadgv() 
    {
        $.ajax({
            type: "POST",
            url: "loadGV?namashift=" + $("#txtShift").val() + "&kodeShift=" + $("#txtKodeShift").val() ,
            success: function (data)
            {
                if(data.status==true)
                {
                    $('#tableMP tbody').empty();
                    var att=data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++)
                    {
                        var d=i+1;
                        $('#tableMP tbody').append("<tr >"
                            
                            + "<td class='col1'>" + d + "</td>"
                            + "<td class='col2'>" + att[i].master_Shift_Header_Name + "</td>"
                            + "<td class='col3'>" + att[i].shift_code + "</td>"
                            + "<td class='col4'>" + att[i].active + "</td>"
                            + "<td class='col5'>" + att[i].last_update + "</td>"
                            + "<td class='col5'> <button type='button' id='btnDetail' class='btn btn-info' onclick='detail("+att[i].iD_Master_Shift_Header+")'>Detail</button><button type='button' id='btnEdit' class='btn btn-warning' onclick='Edit("+att[i].iD_Master_Shift_Header+")'>Edit</button><button type='button' id='btnEdit' class='btn btn-danger' onclick='Hapus("+att[i].iD_Master_Shift_Header+")'>Hapus</button></td>"
                          
                            + "</tr>"
                        );
                    }
                }
            }
        });
    }
    function detail(id_shift)
    {
        console.log(id_shift);
    }
    function Edit(id_shift)
    {
        console.log(id_shift);
    }
    function Hapus(id_shift)
    {
         $.ajax({
            type: "POST",
            url:"",
            success: function (data)
            {

            }
        });
    }
</script>