@{
    ViewData["Title"] = "Setup Two-Factor Authentication";
}

<h1>@ViewData["Title"]</h1>

<p>Scan the QR code below with your authenticator app:</p>
<img src="@ViewBag.BarcodeUrl" alt="QR Code">

<form method="post" asp-action="Verify">
    <div class="form-group">
        <label for="code">Enter the code from your authenticator app:</label>
        <input type="text" id="code" name="code" class="form-control" required>
    </div>
    <input type="hidden" name="secretKey" value="@ViewBag.SecretKey" />
    <button type="submit" class="btn btn-primary">Verify Code</button>
</form>