﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<style>
    .card {
        font-size: 13px;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Master Production</h5>
                <div class="row" style="font-size:13px">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Dept</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="pid_shop" class="form-control pid_shop">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="form-group">
                                <button type="button" id="btSearch" class="btn btn-primary" style="font-size: 13px;">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="font-size:13px">
                    <div>
                        <button type="button" id="btnAdd" class="btn btn-primary" style="font-size:13px">
                            <span>Add Data</span>
                        </button>
                        <button type="button" id="btnUpload" class="btn btn-primary" style="font-size:13px">
                            <span>Upload Data</span>
                        </button>

                    </div>
                    <br><br /><br />
                    <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                        <table id="tableFam" class="table table-bordered table-striped table-condensed" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Dept</th>
                                    <th>Line</th>
                                    <th>PIS</th>
                                    <th>Durasi OT Produksi Sesudah/Sebelum PIS</th>
                                    <th>Valid</th>
                                    <th>End</th>
                                    <th>Day/Night</th>
                                    <th>Status</th>
                                    <th>NPK Input</th>
                                    <th>Tgl Input</th>
                                    <th>Apv Cost Control Dept</th>
                                    <th>Tgl Apv Cost Control Dept</th>
                                    <th>Apv PCD Dept Head</th>
                                    <th>Tgl Apv PCD Dept Head</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="H2">Form Master Production</h5>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                        <label for="color">Shop</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="form-group no-margin">
                            <div class="form-line">
                                <select id="ddlShop" class="form-control ddlShop select2">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                        <label for="color">Line</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="form-group no-margin">
                            <div class="form-line">
                                <select id="ddlLine" class="form-control ddlLine select2">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                        <label for="color">PIS</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="form-group no-margin">
                            <div class="form-line">
                                <input type="number" id="txtPIS" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                        <label for="color">Durasi</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="form-group no-margin">
                            <div class="form-line">
                                <input type="number" id="txtDurasi" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                        <label for="color">Tangal Efektif</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="form-group no-margin">
                            <div class="form-line">
                                <input type="date" id="txtEfektif" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                        <label for="color">Tangal End</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="form-group no-margin">
                            <div class="form-line">
                                <input type="date" id="tglEnd" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSubmit" class="btn btn-success waves-effect">Submit</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpload" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="H4">Form Upload Master Production</h5>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                        <label for="color">Pilih file upload</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="form-group no-margin">
                            <div class="form-line">
                                <input type="file" id="fileUpload" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="../../Template/Overtime/UploadMProduction.xlsx" class="btn btn-primary waves-effect">Download Template</a>
                <button type="button" id="buttonSendUpload" class="btn btn-success waves-effect">Upload</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var totalRows = 2500;
    $(document).ready(function () {
        $("#btSearch").click(function () {
            Filter();
        });
        $('#btnUpload').on("click", function () {
            $("#modalUpload").modal('show');
        });
        $('#btnAdd').on("click", function () {
            $("#modalAdd").modal('show');
        });
        $('#buttonSendUpload').on("click", function () {
            var fileInput = document.getElementById('fileUpload');
            var files = fileInput.files;
            if (files.length == 0) {
                $('#buttonSendUpload').prop('disabled', false);
            }
            else {
                var formData = new FormData();
                formData.append('f', files[0]);
                $.ajax({
                    url: "/OT/uploadMprod",
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                         if (response.status == true) {
                            Swal.fire({
                                title: 'Success!',
                                text: response.msg,
                                icon: 'success',
                                heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                                width: '300px', // Menyesuaikan lebar
                            });
                        }
                        else{
                            Swal.fire({
                                title: 'Warning!',
                                text: response.msg,
                                icon: 'error',
                                heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                                width: '300px', // Menyesuaikan lebar
                            });
                        }
                    }
                });
            }
        });
        $('#btnSubmit').on("click", function () {
            var filter = {
                pid_shop: $("#ddlShop").val(),
                shop: $("#ddlShop").val(),
                pid_line: $("#ddlLine").val(),
                line: $("#ddlLine").val(),
                pis: $("#txtPIS").val(),
                durasi: $("#txtDurasi").val(),
                tglEfektif: $("#txtEfektif").val(),
                tglEnd: $("#tglEnd").val(),
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: 'POST',
                url: "/OT/CreateMprod",
                data: jsonData,
                contentType: 'application/json',
                success: function (response) {
                    if (response.success)
                    {
                        Swal.fire({
                            title: 'Success!',
                            text: response.msg,
                            icon: 'success',
                            heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                            width: '300px', // Menyesuaikan lebar
                        });
                    }
                    else
                    {
                        Swal.fire({
                            title: 'Warning!',
                            text: response.msg,
                            icon: 'error',
                            heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                            width: '300px', // Menyesuaikan lebar
                        });
                    }
                }
            });
        });
    });
    function Filter() {
        var filter = {
            pid_shop: "10"
        }

        $.ajax({
            url: "/OT/loadGetMprod",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log(response);
                if ($.fn.DataTable.isDataTable('#tableFam')) {
                    $('#tableFam').DataTable().clear().destroy();
                }
                // Initialize DataTable
                $("#tableFam").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "shop" },
                        { "data": "line" },
                        { "data": "durasi" },
                        { "data": "durasi" },
                        { "data": "tgl_valid" },
                        { "data": "tgl_end" },
                        { "data": "day_night" },
                        { "data": "status_" },
                        { "data": "created_by" },
                        { "data": "created_date" },
                        { "data": "apvCostControlName" },
                        { "data": "apvCostControlDate" },
                        { "data": "apvPCDHeadName" },
                        { "data": "apvPCDHeadDate" },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });
    }
</script>