@{
    Layout = "~/Views/Shared/_Layoutp.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">WORKING CALENDAR TEMPLATE</h4>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Nama Kalendar</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" name="npk" id="txtCalendar" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Shift</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlShift" name="options" class="form-control">

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 210px">
                                <button type="button" id="btSearch" class="btn btn-primary">
                                    <i class="material-icons">search</i>
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <button type="button" id="btnAdd" class="btn btn-success">
                        <i class="material-icons">add</i>
                        <span>Tambah Data</span>
                    </button>

                </div>
                <br>
                <div class="table-responsive">
                    <table id="tablePWS" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="22px">No.</th>
                                <th>Nama Kalendar</th>
                                <th>Shift</th>
                                <th>Tgl Berlaku</th>
                                <th>Sampai Dengan</th>
                                <th>Is Active</th>
                                <th>Dibuat Oleh</th>
                                <th>
                                    <center>Action</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="H15"><i class="material-icons">edit</i>
                    WORKING CALENDAR TEMPLATE
                </h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">Nama Kalender</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">

                                    <input type="text" name="npk" id="txtNameKalAdd" class="form-control" />
                                    <input type="text" name="npk" id="wsrID" class="form-control"
                                        style="display: none;" />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">Shift</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">

                                    <select id="ddlShiftAdd" name="options" class="form-control"></select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">Berlaku Mulai</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">

                                    <input type="date" name="npk" id="txtInputDate_start" class="form-control" />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">Sampai Dengan</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">
                                    <input type="date" name="npk" id="txtInputDate_end" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">Active ?</label>
                        </div>
                        <div class="col-lg-1 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">
                                    <input type="checkbox" name="npk" id="isActive" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="padding: 10px 20px;
                                                    color: white;
                                                    border: none;
                                                    border-radius: 5px;
                                                    cursor: pointer;position: relative; 
                                                    margin: 0;
                                                    padding: 0;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-end; 
                                                    padding-right: 20px; ">
                        <button type="button" id="btGenerate" class="btn btn-primary">
                            <i class="material-icons">create</i>
                            <span>Generate</span>
                        </button>
                        <button type="button" id="btSave" class="btn btn-success">
                            <i class="material-icons">create</i>
                            <span>Save</span>
                        </button>

                        <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">Batal</button>


                    </div>
                </form>
                <br />
                <div id="detailT" style="display: none;">
                    <div class="pull-right" style="padding: 10px 20px;
                                                    color: white;
                                                    border: none;
                                                    border-radius: 5px;
                                                    cursor: pointer;position: relative; 
                                                    margin: 0;
                                                    padding: 0;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-end; 
                                                    padding-right: 20px; ">
                        <strong>Monthly : </strong>&nbsp;
                        <select id="ddlBln" class="form-control" onchange="changeStatus()" style=" width: 130px;">
                            <option value="">All</option>
                            <option value="1">Januari</option>
                            <option value="2">Febuari</option>
                            <option value="3">Maret</option>
                            <option value="4">April</option>
                            <option value="5">Mei</option>
                            <option value="6">Juni</option>
                            <option value="7">Juli</option>
                            <option value="8">Agustus</option>
                            <option value="9">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">November</option>
                            <option value="12">Desember</option>
                        </select>
                        <select id="ddlthn" class="form-control" onchange="changeStatus()" style=" width: 100px;">
                            <option value="">All</option>
                            <option value="2024">2024</option>

                        </select>
                        <ul runat="server" id="btnAdd" class="header-dropdown pull-right list-none">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" data-toggle="modal" onclick="clearAll()"
                                            data-target="#modalsearch">Tambah Tanggal</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <br>

                    <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                        <table id="tableDetail" class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>

                                    <th>No.</th>
                                    <th>Tanggal</th>
                                    <th>Kode DWS</th>
                                    <th>Jenis DWS</th>
                                    <th>Jam Masuk</th>
                                    <th>Jam Keluar</th>
                                    <th>Notes</th>
                                    <th>Edit</th>
                                    <th> </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <div class="pull-right">

                    <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var listDWS = [];
    $(document).ready(function () {
        loadgv();
        LoadShift();
        $("#btSearch").click(function () {
            loadgv();
        });
        $("#btnAdd").click(function () {
            $("#wsrID").val("0");
            loadDWS();
            $("#btSave").hide();
            $("#detailT").hide();
            $('#modalAdd').modal('show');
        });
        $("#btSave").click(function () {
            save();
        });
        $("#btGenerate").click(function () {
            generate();
            $("#btSave").show();
            $("#detailT").show();
        });


    });
    function loadgv() {
        $.ajax({
            type: "POST",
            url: "WorkCalendarT/loadGV?namaKalendar=" + $("#txtCalendar").val() + "&id_shift=" + $("#ddlShift").val(),
            success: function (data) {
                if (data.status == true) {
                    $('#tablePWS tbody').empty();
                    var att = data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++) {
                        var d = i + 1;
                        $('#tablePWS tbody').append("<tr >"

                            + "<td class='col1'>" + d + "</td>"
                            + "<td class='col2'>" + att[i].wsR_Name + "</td>"
                            + "<td class='col3'>" + att[i].master_Shift_Header_Name + "</td>"
                            + "<td class='col4'>" + att[i].start_date + "</td>"
                            + "<td class='col5'>" + att[i].end_date + "</td>"
                            + "<td class='col5'>" + att[i].active_ + "</td>"
                            + "<td class='col5'>" + att[i].dibuat + "</td>"
                            + "<td class='col5'><button type='button' id='btnDetail' class='btn btn-info' onclick='Edit(" + att[i].wsR_ID + ")'>Detail</button> <button type='button' id='btnEdit' class='btn btn-danger' onclick='Hapus(" + att[i].wsR_ID + ")'>Hapus</button></td>"
                            + "</tr>"
                        );
                    }
                }
            }
        });
    }
    function save() {
        var active = $("#isActive").is(':checked') ? "1" : "0";
        var dataDetail = [];
        $("#tableDetail tbody tr").each(function (index) {
            var id = $(this).find('#lbldetail_ID').text();
            var lbldwsID = $(this).find('#ddlDWS' + id).val();
            var lbldws = $(this).find('span#lbldws' + id).text();
            var lbldwstype = $(this).find('span#lbldwstype' + id).text();
            var lblCi = $(this).find('span#lblCi' + id).text();
            var lblCo = $(this).find('span#lblCo' + id).text();
            var txtNotes = $(this).find('input#txtNotes' + id).val();
            var lblcalendar_date = $(this).find('#lblcalendar_date').text();

            dataDetail.push({
                "calendar_date": lblcalendar_date,
                "DWS_ID": lbldwsID,
                "DWS_Name": lbldws,
                "DWS_Type": lbldwstype,
                "clock_in": lblCi,
                "clock_out": lblCo,
                "notes": txtNotes
            });
        });
        var detail = JSON.stringify(dataDetail);
        var param = {
            WSR_Name: $("#txtNameKalAdd").val(),
            ID_Master_Shift_Header: $("#ddlShiftAdd").val(),
            start_date: $("#txtInputDate_start").val(),
            end_date: $("#txtInputDate_end").val(),
            action: "add",
            active_: active,
            detail: dataDetail,
            WSR_ID:$("#wsrID").val()
        };
        console.log(param);
        var jsonData = JSON.stringify(param);

        $.ajax({
            type: 'POST',
            url: "WorkCalendarT/createWSR",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    alert(response.msg);
                    loadgv();
                    $('#modalAdd').modal('hide');
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function Edit(wsR_ID) {
        $("#btSave").show();
        $("#wsrID").val(wsR_ID);
        loadDWS();
        $.ajax({
            type: 'POST',
            url: "WorkCalendarT/getEdit?WsrId=" + wsR_ID,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    $("#detailT").show();
                    var dt = response.dataAtt;
                    console.log(response);
                    $("#txtNameKalAdd").val(dt.wsR_Name);
                    $("#ddlShiftAdd").val(dt.iD_Master_Shift_Header);
                    $("#txtInputDate_start").val(dt.start_date.split('T')[0]);
                    $("#txtInputDate_end").val(dt.end_date.split('T')[0]);
                    loadDetail(response.detail);
                    var checkbox = document.getElementById("isActive");
                    if (dt.active == 1) {
                        checkbox.checked = true;
                    }
                    else {
                        checkbox.checked = false;
                    }
                    $('#modalAdd').modal('show');
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function generate() {
        var id_shift = $("#ddlShiftAdd").val();
        var start = $("#txtInputDate_start").val();
        var end = $("#txtInputDate_end").val();
        var ddlBln = $("#ddlBln").val();

        $.ajax({
            type: 'POST',
            url: "WorkCalendarT/GenerateTemplate?id_shift=" + id_shift + "&date_start=" + start + "&date_end=" + end + "&ddlbulan=" + ddlBln,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    console.log(response);
                    loadDetail(response.detail);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function loadDetail(data) {
        var att = data;
        $('#tableDetail tbody').empty();
        console.log(data);
        for (var i = 0; i < att.length; i++) {
            var d = i + 1;
            var spndws = "<span style=\"display:none\" id=\"lbldwsID" + att[i].detail_ID + "\">" + att[i].dwS_ID + "</span> <span id=\"lbldws" + att[i].detail_ID + "\">" + att[i].dwS_Name + "</span>"
            var spndwstype = "<span id=\"lbldwstype" + att[i].detail_ID + "\">" + att[i].dwS_Type + "</span>"
            var spndclockin = "<span id=\"lblCi" + att[i].detail_ID + "\">" + formatJam(att[i].clock_in) + "</span>"
            var spndclockout = "<span id=\"lblCo" + att[i].detail_ID + "\">" + formatJam(att[i].clock_out) + "</span>"
            var spndnote = "<span id=\"lblnote" + att[i].detail_ID + "\">" + att[i].notes + "</span>"
            var spndetail_ID = "<span style=\"display:none\" id=\"lbldetail_ID\">" + att[i].detail_ID + "</span>"
            var lblcalendar_date = "<span style=\"display:none\" id=\"lblcalendar_date\">" + att[i].calendar_date + "</span>"
            $('#tableDetail tbody').append("<tr >"

                + "<td class='col1'>" + lblcalendar_date + "" + spndetail_ID + "" + d + "</td>"
                + "<td class='col2'>" + att[i].calendar_date.split('T')[0] + "</td>"
    @* + "<td class='col2'>" + att[i].calendar_date + "</td>" *@
                + "<td class='col3'>" + spndws + "<select style=\"display:none\" id=\"ddlDWS" + att[i].detail_ID + "\" name=\"options\" class=\"form-control\"></select></td>"
                + "<td class='col4'>" + spndwstype + "</td>"
                + "<td class='col5'>" + spndclockin + "</td>"
                + "<td class='col5'>" + spndclockout + "</td>"
                + "<td class='col5'>" + spndnote + " <input style=\"display:none\" type=\"text\" id=\"txtNotes" + att[i].detail_ID + "\" class=\"form-control\" /> </td>"
                + "<td class='col5'> <input type=\"checkbox\" id=\"idEdit" + att[i].detail_ID + "\" class=\"form-control row-checkbox\" /></td>"
                + "<td class='col5'><button type='button' id='btnHapusD' class='btn btn-danger' onclick='HapusDetail(" + att[i].detail_ID + ")'>Hapus</button></td>"
                + "</tr>"
            );
            $('#idEdit' + att[i].detail_ID).on('change', function () {
                var row = $(this).closest('tr');
                var id = row.find('#lbldetail_ID').text();
                if (this.checked) {

                    row.find('span#lbldws' + id).hide();
                    row.find('span#lblnote' + id).hide();
                    row.find('select#ddlDWS' + id).show();
                    row.find('input#txtNotes' + id).show();
                    var notes = row.find('span#lblnote' + id).text();
                    var lbldwsID = row.find('span#lbldwsID' + id).text();
                    row.find('select#ddlDWS' + id).val(lbldwsID).trigger("change");
                    row.find('input#txtNotes' + id).show();
                    row.find('input#txtNotes' + id).val(notes);
                    row.addClass('checked-row');
                }
                else {
                    row.find('span#lbldws' + id).show();
                    row.find('span#lblnote' + id).show();
                    row.find('select#ddlDWS' + id).hide();
                    row.find('input#txtNotes' + id).hide();
                    row.removeClass('checked-row');
                }
            });
    @* $('#ddlDWS' + att[i].detail_ID).select2(); *@
                ddlDWS(att[i].detail_ID);
            $("#ddlDWS" + att[i].detail_ID).val(att[i].dwS_ID);
            $("#txtNotes" + att[i].detail_ID).val(att[i].notes);
            $(document).on('change', '#ddlDWS' + att[i].detail_ID, function () {
                var row = $(this).closest('tr');
                var id = row.find('#lbldetail_ID').text();
                var ddlDWSId = row.find('select#ddlDWS' + id).val();
                $.ajax({
                    type: 'POST',
                    url: "WorkCalendarT/GetDWSDetail?DWS_ID=" + ddlDWSId,
                    contentType: 'application/json',
                    success: function (response) {
                        console.log(response);
                        var dt = response.lis;
                        row.find('span#lbldwstype' + id).text(dt.typeName);
                        row.find('span#lbldws' + id).text(dt.dwS_Name);
                        row.find('span#lblCi' + id).text(formatJam(dt.clock_in));
                        row.find('span#lblCo' + id).text(formatJam(dt.clock_out));
                    }
                });
                console.log("hallo kmu pintar");
            });
        }
    }
    function formatJam(isoJam) {
        var timeStr = isoJam.split('T')[1].split(':');
        var time = timeStr[0] + ':' + timeStr[1];
        // Memformat tanggal
        return time;
    }
    function Hapus(wsR_ID) {
        var active = $("#isActive").is(':checked') ? "1" : "0";

        var param = {
            WSR_ID: wsR_ID
        };
        var jsonData = JSON.stringify(param);
        $.ajax({
            type: 'POST',
            url: "WorkCalendarT/deleteWSR",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    loadgv();
                    alert(response.msg);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function HapusDetail(detail_ID) {

    }
    function LoadShift() {
        $("#ddlShift").empty();
        $("#ddlShiftAdd").empty();
        $.ajax({
            type: "POST",
            url: "WorkCalendarT/GetShift",
            success: function (data) {
                var s = '';
                s = '<option value="">Pilih</option>';
                for (var i = 0; i < data.lis.length; i++) {
                    s += '<option value="' + data["lis"][i].value + '">' + data["lis"][i].text + '</option>';
                }
                $("#ddlShift").html(s);
                $("#ddlShiftAdd").html(s);
            }
        });
    }
    function loadDWS() {
        $.ajax({
            type: "POST",
            url: "WorkCalendarT/GetDWS",
            success: function (data) {
                console.log(data);
                listDWS = data.lis;
            }
        });
    }
    function ddlDWS(id) {
        $("#ddlDWS" + id).empty();
        var s = '';
        s = '<option value="">Pilih</option>';
        for (var i = 0; i < listDWS.length; i++) {
            s += '<option value="' + listDWS[i].value + '">' + listDWS[i].text + '</option>';
        }
        $("#ddlDWS" + id).html(s);
    }



</script>