<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Astra Daihatsu Motor</title>
    <link rel="shortcut icon" href="~/Assets/images/faviconHR.png" type="text/css" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Assets/bistro/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Assets/bistro/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Assets/bistro/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Assets/bistro/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Assets/bistro/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/bistro/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Assets/bistro/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Assets/bistro/images/favicon.png" />
    <link href="~/Assets/css/themes/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Library/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Library/Meetselva/css/fixed_table_rc.css" rel="stylesheet" />
    <link href="~/Library/Multifreezer/multifreezer.css" rel="stylesheet" />
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Assets/plugins/node-waves/waves.js"></script>
    <!-- Chosen -->


    <!-- Select2 -->
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Assets/bistro/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/Assets/bistro/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">

    <script src="~/Library/Meetselva/js/fixed_table_rc.js"></script>
    <!--<script src="~/Library/Meetselva/js/sortable_table.js"></script>-->
    <script src="~/Assets/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css"></script>
    <link href="~/Assets/css/font_roboto.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/material_icon.css" rel="stylesheet" type="text/css" />


    <link href="~/Assets/css/themes/fixedColumns.dataTables.min.css" rel="stylesheet" />

    <!-- JQuery CSS -->
    <link rel="stylesheet" href="~/Library/datetimepicker/jquery.datetimepicker.css" />
    <style>
        .toggle-content {
            display: none;
        }

        .toggle-content.active {
            display: block;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @* <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> *@
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>

</head>

<body>
    <input type="text" value="~/" class="baseUrl" />
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="index.html">
                    <b>HRIS</b>
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="~/Assets/bistro/images/logo-mini.svg" alt="logo"></a>

            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="https://adm-hrd.daihatsu.astra.co.id/PM2/Uploads/User/default_user_icon.png"
                                alt="profile" />

                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">

                            <a class="dropdown-item logout">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                            <%-- <asp:LinkButton runat="server" CausesValidation="false" ID="btSignOut"
                                OnClick="btSignOut_Click"><i class="material-icons">exit_to_app</i>Logout
                                </asp:LinkButton>--%>
                        </div>
                    </li>

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                        <div class="img-ss rounded-circle bg-light border mr-3"></div>
                        Light
                    </div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme">
                        <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                        Dark
                    </div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>

            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basicMaster" aria-expanded="false"
                            aria-controls="ui-basicTa">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Beranda</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basicMaster" aria-expanded="false"
                            aria-controls="ui-basicTa">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Kehadiran</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basicMaster">
                            <ul class="nav flex-column sub-menu">

                                <li class="nav-item" data-toggle="toggle" data-target="content1">
                                    <a class="nav-link">
                                        <span class="menu-title">Daftar Kehadiran & Perizinan</span>
                                        <i class="menu-arrow"></i>
                                    </a>

                                    <div id="content1" class="toggle-content">
                                        <ul class="nav flex-column sub-menu">
                                            <li>
                                                <a class="nav-link" href="~/ViewAbsence">Lihat Absensi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </li>
                    @* @Html.Raw(ViewBag.leftMenu) *@

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    @* <script src="~/Assets/bistro/vendors/js/vendor.bundle.base.js"></script> *@
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Assets/bistro/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Assets/bistro/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Assets/bistro/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Assets/bistro/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Assets/bistro/js/off-canvas.js"></script>
    <script src="~/Assets/bistro/js/hoverable-collapse.js"></script>
    <script src="~/Assets/bistro/js/template.js"></script>
    <script src="~/Assets/bistro/js/settings.js"></script>
    <script src="~/Assets/bistro/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Assets/bistro/js/dashboard.js"></script>
    <script src="~/Assets/bistro/js/Chart.roundedBarCharts.js"></script>
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/dataTables.fixedColumns.min.js"></script>
   
 
    <!-- Bootstrap Core Js -->


    <!-- Slimscroll Plugin Js -->
    <script src="~/Assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/Assets/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/Assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/Assets/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/Assets/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/Assets/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/Assets/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/Assets/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/Assets/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/Assets/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Jquery DataTable Plugin Js -->

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/Assets/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/Assets/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Multifreezer Plugin Js -->
    <script src="~/Library/Multifreezer/multifreezer.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Assets/plugins/momentjs/moment.js"></script>
    <script src="~/Assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- VirtualKeyboard -->
    <script src="~/Library/Virtualkeyboard/js/jquery-ui.min.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.js"></script>

    <!-- keyboard extensions (optional) -->
    <script src="~/Library/Virtualkeyboard/js/jquery.mousewheel.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.extension-typing.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.extension-autocomplete.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.extension-caret.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.tipsy.min.js"></script>

    <!-- Custom Js -->
    <script src="~/Assets/js/admin.js"></script>
    <!--<script src="~/Assets/js/pages/tables/jquery-datatable.js"></script>-->


    <!-- Demo Js -->
    <script src="~/Assets/js/demo.js"></script>

    <!-- Highchart -->
    <script src="~/Library/Highchart/highcharts.js"></script>
    <script src="~/Library/Highchart/exporting.js"></script>

    <!-- JQuery Datetimepicker -->
    <script src="~/Library/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

    <!-- Jquery Knob Plugin Js -->
    <script src="~/Assets/plugins/jquery-knob/jquery.knob.min.js"></script>

    <script src="~/Library/DataTables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="~/Library/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/Library/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/Library/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/Library/DataTables/Buttons-2.2.3/js/buttons.html5.min.js"></script>
    <script src="~/Library/DataTables/Buttons-2.2.3/js/buttons.print.min.js"></script>
    <script src="~/Assets/bistro/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/Assets/bistro/vendors/select2/select2.min.js"></script>
    <script src="~/Assets/bistro/js/file-upload.js"></script>
    <script src="~/Assets/bistro/js/typeahead.js"></script>
    <script src="~/Assets/bistro/js/select2.js"></script>
  

    <!-- End custom js for this page-->
    <script type="text/javascript">
        $(document).ready(function () {
            var baseUrl = $(".baseUrl").val();
            console.log(baseUrl);
            $('.logout').on("click", function () {
                logout();
            });
            function logout() {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: "Home/LogoutPos",
                    success: function (response) {
                        console.log(response);
                        window.location = "Home/Default";
                    }
                });
            }
            $('[data-toggle="toggle"]').click(function () {
                // Mengambil target dari data-target atribut
                var target = $(this).data('target');
                // Toggle kelas 'active' pada elemen target
                $('#' + target).toggleClass('active');
            });

        });

    </script>
</body>

</html>