<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <title>Astra Daihatsu Motor</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Assets/images/faviconHR.png" type="text/css" />

    <!-- Google Fonts -->
    <link href="~/Assets/css/font_roboto.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/material_icon.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/Assets/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Assets/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Virtualkeyboard Css -->
    <link href="~/Library/Virtualkeyboard/css/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Library/Virtualkeyboard/css/keyboard.css" rel="stylesheet">
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>

    <!-- Custom Css -->
    <link href="~/Assets/css/style.css" rel="stylesheet">

    <!-- Self Css -->
    <link href="~/Assets/Styles/css.css" rel="stylesheet">
</head>

<body class="bg-login" runat="server" id="bdy">
    <div class="container">
        <div class="col-md-12 margin-auto no-float">
            <img src="~/Assets/images/daihatsu.png" alt="alternate_text" style="height: 40px;"
                class="pull-left medium-margin img-responsive">
            <img src="~/Assets/images/Icare.png" alt="alternate_text" style="height: 40px;"
                class="pull-left medium-margin img-responsive">
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 hidden-md hidden-sm hidden-xs">
                <table cellpadding="5px" class="list large-font x-large-margin white pull-left">
                    <tr>
                        <td width="60px">
                            <a href="https://wecare.daihatsu.astra.co.id/login">

                                <img src="~/Assets/images/WECARE.png" alt="alternate_text" style="height: 40px;"
                                    class="img-responsive">

                            </a>
                        </td>
                        <td class="medium-font">
                            <a href="https://wecare.daihatsu.astra.co.id/login">
                                <strong style="color:white">WeCare App - Web</strong>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <a href="https://wecare.daihatsu.astra.co.id/app/mobile/ios">
                                <img src="~/Assets/images/WECARE.png" alt="alternate_text" style="height: 40px;"
                                    class="img-responsive">
                            </a>
                        </td>
                        <td class="medium-font">
                            <a href="https://wecare.daihatsu.astra.co.id/app/mobile/ios">
                                <strong style="color:white">WeCare App - iOS</strong>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="60px">
                            <a href="http://hr-test.daihatsu.astra.co.id/hr-intranet/">
                                <i class="material-icons">home</i>
                            </a>
                        </td>
                        <td class="medium-font">
                            <a href="http://hr-test.daihatsu.astra.co.id/hr-intranet/">
                                <strong style="color:white">Intranet HRD</strong><br />
                                <h5 style="color:white;font-size:13px;">Download form/dokumen<br />Pengajuan,Struktur
                                    Org,dll </h5>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Assets/plugins/node-waves/waves.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.js"></script>

    <!-- keyboard extensions (optional) -->
    <script src="~/Library/Virtualkeyboard/js/jquery.mousewheel.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.extension-typing.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.extension-autocomplete.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.keyboard.extension-caret.js"></script>
    <script src="~/Library/Virtualkeyboard/js/jquery.tipsy.min.js"></script>

    <!-- Custom Js -->
    <script src="~/Assets/js/admin.js"></script>
</body>

</html>