body
{
    font-family:'Lucida Grande',arial,verdana,sans-serif;
    color:#717171;
}
ul 
{
    margin:0px;
    padding:0px;
}
li {
    padding:3px 0px 3px 0px;
    margin: 0px;
/*    list-style: none;*/
}
ul.indent li
{
    margin-left:25px;
}

a
{
    text-decoration:none;
    color:#000000;
}
a:focus, a:hover, a:active 
{
    color:#f39930;
    text-decoration:underline;
}

.menuTreeContainer
{
    width:100%;
}
.menuTree
{
    margin-top:20px;
    width:100%;
    float:left;

    padding:0px;
}
.menuTree_inner 
{
    width:100%;
}
.description
{
    margin-top:20px;
    margin-left:10px;
    width:350px;
    float:left;
    border:1px solid #717171;
    padding:10px;
}
.order
{
    margin-top:20px;
    margin-left:10px;
    width:250px;
    float:left;
    border:1px solid #717171;
    padding:10px;
}

/* Tree View example */
ul.treeViewRoot li
{
    line-height:20px;
}
.treeView_expand, .treeView_collapse 
{
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    float:left;
    cursor:pointer;
    padding:0px;
}

.treeView_expand
{
    background-image:url(../images/expand.gif);
}
.treeView_collapse 
{
    background-image:url(../images/collapse.gif);
}

/* Drag drop sample */
.draggable
{
    
}
.dragDropHandle
{
    background:url(../images/hand.png) no-repeat;
    padding-left:20px;
}
.draggingHelper
{
    border:1px solid #f39930;
}
.no-nesting
{
}
.dragHover 
{
    border:1px solid #71b6e7;
}