@{
    Layout = "~/Views/Shared/_Layoutp.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">WORK BREAK SCHEDULE</h4>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Nama WBS</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" name="npk" id="txtNamaWBS" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 210px">
                                <button type="button" id="btSearch" class="btn btn-primary">
                                    <i class="material-icons">search</i>
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <button type="button" id="btnAdd" class="btn btn-success">
                        <i class="material-icons">add</i>
                        <span>Tambah Data</span>
                    </button>
                </div>
                <br>
                <div class="table-responsive">
                    <table id="tableMP" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="22px">No.</th>
                                <th>Nama WBS</th>
                                <th>Clock Start</th>
                                <th>Clock End</th>
                                <th>Tgl Ubah</th>
                                <th>
                                    <center>Action</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="H25"><i class="material-icons">edit</i>
                    WORK BREAK SCHEDULE
                </h5>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">WBS Name</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <input type="text" id="WBS_ID" class="form-control">
                                <input type="text" id="wbsName" class="form-control">
                                <input type="text" id="action" class="form-control">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">Information</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <input type="text" id="information" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">Clock Start</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <input type="text" id="ClockStart" class="form-control" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">Clock End</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <input type="text" id="ClockEnd" class="form-control" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div class="pull-right">
                    <button type="button" id="btnSave" class="btn btn-primary">
                        <i class="material-icons">create</i>
                        <span>Simpan Data</span>
                    </button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#ClockStart').timepicker({
            timeFormat: 'H:i', // Set time format to 24-hour (H:i)
            interval: 15, // Set the minute interval (optional)
            dropdown: true // Show dropdown instead of a popup (optional)
        });
        $('#ClockEnd').timepicker({
            timeFormat: 'H:i', // Set time format to 24-hour (H:i)
            interval: 15, // Set the minute interval (optional)
            dropdown: true // Show dropdown instead of a popup (optional)
        });
        loadgv();

        $("#btSearch").click(function () {
            loadgv();
        });
        $("#btnAdd").click(function () {
            $("#action").val("add");
            $("#WBS_ID").val("");
            $("#wbsName").val("");
            $("#information").val("");
            $("#ClockStart").val("");
            $("#ClockEnd").val("");
            $('#modalAdd').modal('show');
        });
        $("#btnSave").click(function () {
            save();
        });
    });
    function loadgv() {
        $.ajax({
            type: "POST",
            url: "WorkBreakSchedule/loadGV?wbsname=" + $("#txtNamaWBS").val(),
            success: function (data) {
                if (data.status == true) {
                    $('#tableMP tbody').empty();
                    var att = data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++) {
                        var d = i + 1;
                        $('#tableMP tbody').append("<tr >"

                            + "<td class='col1'>" + d + "</td>"
                            + "<td class='col2'>" + att[i].wbS_Name + "</td>"
                            + "<td class='col3'>" + att[i].clock_start + "</td>"
                            + "<td class='col4'>" + att[i].clock_end + "</td>"
                            + "<td class='col5'>" + att[i].last_update + "</td>"
                            + "<td class='col5'>"
                            + "<button type='button' id='btnEdit' class='btn btn-warning' onclick='edit(\""
                            + att[i].wbS_ID + "\", \""
                            + att[i].wbS_Name + "\", \""
                            + att[i].info + "\", \""
                            + att[i].clock_start + "\", \""
                            + att[i].clock_end + "\")'>Edit</button>"
                            + "<button type='button' id='btnHapus' class='btn btn-danger' onclick='hapus(" + att[i].wbS_ID + ")'>Hapus</button>"
                            + "</td>"
                            + "</tr>"
                        );
                    }
                }
            }
        });

    }
    function save() {
        var param = {
            WBS_ID: $("#WBS_ID").val(),
            id: $("#WBS_ID").val(),
            WBS_Name: $("#wbsName").val(),
            info: $("#information").val(),
            clock_start: $("#ClockStart").val(),
            clock_end: $("#ClockEnd").val(),
            action: $("#action").val()
        };
        console.log(param);
        var jsonData = JSON.stringify(param);
        $.ajax({
            type: 'POST',
            url: "WorkBreakSchedule/create",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    alert(response.msg);
                    loadgv();
                    $('#modalAdd').modal('hide');
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }

    function edit(wbsid, wbS_Name, info, clock_start, clock_end) {
        $("#action").val("edit");
        $("#WBS_ID").val(wbsid);
        $("#wbsName").val(wbS_Name);
        $("#information").val(info);
        $("#ClockStart").val(clock_start);
        $("#ClockEnd").val(clock_end);
        $('#modalAdd').modal('show');
    }
    function hapus(wbsid) {
        $("#action").val("delete");
        var param = {
            id: wbsid,
            action: $("#action").val()
        };
        console.log(param);
        var jsonData = JSON.stringify(param);
        $.ajax({
            type: 'POST',
            url: "WorkBreakSchedule/delete?id="+wbsid,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    alert(response.msg);
                    loadgv();
                    $('#modalAdd').modal('hide');
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
</script>