﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<style>
    .card {
        font-size: 13px;
    }
</style>
<div class="row clearfix">
    <div id="divtble"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Filter();
    });
    function Filter() {
        var filter =
        {
            npk: "100095",
            tglmulai: "2024-10-01",
            tglend: "2024-10-31"
        }
        $.ajax({
            url: "/Magang/GetAttendance",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log(response);
                $("#divtble").html(response.dt);
            }
        });
    }
</script>
