﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<style>
    .card {
        font-size: 13px;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hiring Pemagangan</h5>
                <div class="row" style="font-size:13px">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPK" class="form-control txtNPK">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Upload</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtRegDate" class="form-control txtRegDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 160px">
                                <button type="button" id="btSearch" class="btn btn-primary" style="font-size: 13px;">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Name</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtName" class="form-control txtName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Join Date</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtJoinDate" class="form-control txtJoinDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" style="font-size:13px">
                    <div>
                        <button type="button" id="btnUpload" class="btn btn-primary" style="font-size:13px">
                            <span>Upload Pemagangan</span>
                        </button>
                    </div>
                    <br>
                    <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                        <table id="tableFam" class="table table-bordered table-striped table-condensed" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>NPK Magang</th>
                                    <th>Name</th>
                                    <th>Directorate</th>
                                    <th>Divisi</th>
                                    <th>Department</th>
                                    <th>Section</th>
                                    <th>Sub Section</th>
                                    <th>Lokasi Kerja</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Work Date</th>
                                    <th>End Work date</th>
                                    <th>Tanggal Upload</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var totalRows = 2500;
    $(document).ready(function () {
        $("#btSearch").click(function () {
            Filter();
        });
        $('.btnUpload').on("click", function () {
            window.location.href = "/Magang/UHiring";
        });
    });
    function Filter() {
        var filter = {
            npk: $(".txtNPK").val(),
            name: $(".txtName").val(),
            tglUpload: $(".txtRegDate").val(),
            start_: $(".txtJoinDate").val()
        }
        $.ajax({
            url: "/Magang/loadgetHiring",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                if ($.fn.DataTable.isDataTable('#tableFam')) {
                    $('#tableFam').DataTable().clear().destroy();
                }
                // Initialize DataTable
                $("#tableFam").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "npk_magang" },
                        { "data": "name" },
                        { "data": "directorate" },
                        { "data": "division" },
                        { "data": "department" },
                        { "data": "section" },
                        { "data": "subSection" },
                        { "data": "lokasiKerja" },
                        { "data": "gender" },
                        { "data": "email" },
                        { "data": "work_date" },
                        { "data": "end_work_date" },
                        { "data": "created_date" },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });
    }
</script>
