﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<style>
    .card {
        font-size: 13px;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Form Pemagangan Hiring Upload</h6>
                <div class="row" style="font-size:13px">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Excel File</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="file" id="fileUpload" class="form-control fileUpload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 160px">
                                <button type="button" id="btnValidate" class="btn btn-primary" style="font-size: 12px;">
                                    <span>Validate</span>
                                </button>
                                <button type="button" id="btnTemplate" class="btn btn-primary" style="font-size: 12px;">
                                    <span>Download Template</span>
                                </button>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="row" style="font-size:13px">
                    <div id="divInValid" class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%;display:none">
                        <table id="tableInvalid" class="table table-bordered table-striped table-condensed" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th style="font-size:11px">No</th>
                                    <th style="font-size:11px">NPK</th>
                                    <th style="font-size:11px">NAMA</th>
                                    <th style="font-size:11px">DIRECTORATE</th>
                                    <th style="font-size:11px">DIVISI</th>
                                    <th style="font-size:11px">DEPARTEMENT</th>
                                    <th style="font-size:11px">SECTION</th>
                                    <th style="font-size:11px">SUB SECTION</th>
                                    <th style="font-size:11px">LOKASI</th>
                                    <th style="font-size:11px">WORK DATE</th>
                                    <th style="font-size:11px">END WORK DATE</th>
                                    <th style="font-size:11px">GENDER</th>
                                    <th style="font-size:11px">EMAIL</th>
                                    <th style="font-size:11px">NOTE</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                    <br>
                    <div id="divValid" class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%;display:none">
                        <table id="tableValid" class="table table-bordered table-striped table-condensed" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th style="font-size:11px">No</th>
                                    <th style="font-size:11px">NPK</th>
                                    <th style="font-size:11px">NAMA</th>
                                    <th style="font-size:11px" >DIRECTORATE</th>
                                    <th style="font-size:11px">DIVISI</th>
                                    <th style="font-size:11px">DEPARTEMENT</th>
                                    <th style="font-size:11px">SECTION</th>
                                    <th style="font-size:11px">SUB SECTION</th>
                                    <th style="font-size:11px">LOKASI</th>
                                    <th style="font-size:11px">WORK DATE</th>
                                    <th style="font-size:11px">END WORK DATE</th>
                                    <th style="font-size:11px">GENDER</th>
                                    <th style="font-size:11px">EMAIL</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br />
                        <button type="button" id="btnSubmit" class="btn btn-primary" style="font-size: 12px;">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnValidate").click(function () {

            $("#tbody").empty();
            var fileInput = document.getElementById('fileUpload');
            var files = fileInput.files;
            if (files.length == 0) {
                $('#btnValidate').prop('disabled', false);
               
            }
            else 
            {
                var formData = new FormData();
                formData.append('f', files[0]);
                console.log(formData);
                $.ajax({
                    url: "/Magang/ValidateHiring",
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if (data.status==true) 
                        {
                            var dt = data.data;
                            if (data.is_valid==1)
                            {
                               
                                for (var d = 0; d < dt.length; d++) 
                                {
                                   
                                    var npk = "<span id='spNpk'>" + dt[d].npk + "</span>";
                                    var nama = "<span id='spNama'>" + dt[d].nama + "</span>";
                                    var directorate = "<span id='spDirectorate'>" + dt[d].directorate + "</span><span id='spid_dir'>" + dt[d].id_dir + "</span>";
                                    var divisi = "<span id='spdivisi'>" + dt[d].divisi + "</span><span id='spid_div'>" + dt[d].id_div + "</span>";
                                    var departement = "<span id='spdepartement'>" + dt[d].departement + "</span><span id='spid_dept'>" + dt[d].id_dept + "</span>";
                                    var section = "<span id='spsection'>" + dt[d].section + "</span><span id='spid_sec'>" + dt[d].id_sec + "</span>";
                                    var sub = "<span id='spsub'>" + dt[d].sub + "</span><span id='spsub'>" + dt[d].id_sub + "</span>";
                                    var lokasi = "<span id='splokasi'>" + dt[d].lokasi + "</span><span id='spid_lok'>" + dt[d].id_lok + "</span>";
                                    var start = "<span id='spstart'>" + dt[d].start + "</span>";
                                    var end = "<span id='spend'>" + dt[d].end + "</span>";
                                    var gender = "<span id='spgender'>" + dt[d].gender + "</span>";
                                    var email = "<span id='spemail'>" + dt[d].email + "</span>";

                                    $('#tableValid tbody').append("<tr >"

                                        + "<td class='col1' style='font-size: 11px'>" + dt[d].no + "</td>"
                                        + "<td class='col2' style='font-size: 11px'>" + npk + "</td>"
                                        + "<td class='col3' style='font-size: 11px'>" + nama + "</td>"
                                        + "<td class='col4' style='font-size: 11px'>" + directorate + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + divisi + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + departement + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + section + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + sub + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + lokasi + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + start + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + end + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + gender + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + email + "</td>"
                                        + "</tr>"
                                    );
                                }
                                
                                $('#divInValid').hide();
                                $('#divValid').show();
                                console.log("ddd");
                            }
                            else
                            {
                               
                                console.log(dt.length);
                                for (var d = 0; d < dt.length; d++) 
                                {
                                    
                                    
                                    var npk = "<span id='spNpk'>" + dt[d].npk + "</span>";
                                    var nama = "<span id='spNama'>" + dt[d].nama + "</span>";
                                    var directorate = "<span id='spDirectorate'>" + dt[d].directorate + "</span><span id='spid_dir'>" + dt[d].id_dir + "</span>";
                                    var divisi = "<span id='spdivisi'>" + dt[d].divisi + "</span><span id='spid_div'>" + dt[d].id_div + "</span>";
                                    var departement = "<span id='spdepartement'>" + dt[d].departement + "</span><span id='spid_dept'>" + dt[d].id_dept + "</span>";
                                    var section = "<span id='spsection'>" + dt[d].section + "</span><span id='spid_sec'>" + dt[d].id_sec + "</span>";
                                    var sub = "<span id='spsub'>" + dt[d].sub + "</span><span id='spsub'>" + dt[d].id_sub + "</span>";
                                    var lokasi = "<span id='splokasi'>" + dt[d].lokasi + "</span><span id='spid_lok'>" + dt[d].id_lok + "</span>";
                                    var start = "<span id='spstart'>" + dt[d].start + "</span>";
                                    var end = "<span id='spend'>" + dt[d].end + "</span>";
                                    var gender = "<span id='spgender'>" + dt[d].gender + "</span>";
                                    var email = "<span id='spemail'>" + dt[d].email + "</span>";
                                    var note = "<span id='spnote'>" + dt[d].note + "</span>";
                                    $('#tableInvalid tbody').append("<tr >"

                                        + "<td class='col1' style='font-size: 11px'>" + dt[d].no + "</td>"
                                        + "<td class='col2' style='font-size: 11px'>" + npk + "</td>"
                                        + "<td class='col3' style='font-size: 11px'>" + nama + "</td>"
                                        + "<td class='col4' style='font-size: 11px'>" + directorate + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + divisi + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + departement + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + section + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + sub + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + lokasi + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + start + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + end + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + gender + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + email + "</td>"
                                        + "<td class='col5' style='font-size: 11px'>" + note + "</td>"
                                        + "</tr>"
                                    );
                                }
                               
                                
                                $('#divInValid').show();
                                $('#divValid').hide();
                            }
                        }
                        else 
                        {
                            
                        }
                    },
                    error: function (xhr, status, error) {
                        
                    }
                });

            }

           
        });
        $("#btnTemplate").click(function () {

        });
        $("#btnSubmit").click(function () 
        {
            var data= [];
            $("#tableValid tbody tr").each(function (index) {
                
                data.push({
                    "NPK": $(this).find('#spNpk').text(),
                    "NAMA": $(this).find('#spNama').text(),
                    "DIRECTORATE": $(this).find('#spDirectorate').text(),
                    "DIVISI": $(this).find('#spdivisi').text(),
                    "DEPARTEMENT": $(this).find('#spdepartement').text(),
                    "SECTION": $(this).find('#spsection').text(),
                    "SUB": $(this).find('#spsub').text(),
                    "LOKASI": $(this).find('#splokasi').text(),
                    "START": $(this).find('#spstart').text(),
                    "END": $(this).find('#spend').text(),
                    "GENDER": $(this).find('#spgender').text(),
                    "EMAIL": $(this).find('#spemail').text(),
                    "id_dir": $(this).find('#spid_dir').text(),
                    "id_div": $(this).find('#spid_div').text(),
                    "id_dept": $(this).find('#spid_dept').text(),
                    "id_sec": $(this).find('#spid_sec').text(),
                    "id_sub": $(this).find('#spid_sub').text(),
                    "id_lok": $(this).find('#spid_lok').text(),
                });
                
            });

            var jsonData = JSON.stringify(data);
           
            if (jsonData != "[]") {
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: "/Magang/UploadHiring",
                    data: jsonData,
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.success) {
                            $('#divValid').hide();
                            
                            Swal.fire({
                                title: 'Success!',
                                text: response.msg,
                                icon: 'success',
                                heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                                width: '300px', // Menyesuaikan lebar
                            });
                        }
                        else {
                            Swal.fire({
                                title: '',
                                text: response.msg,
                                icon: 'error',
                                heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                                width: '300px', // Menyesuaikan lebar
                            });
                         
                        }
                    }
                });
            }
            else {
               
            }

        });
        

    });
</script>