﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<style>
    .card {
        font-size: 13px;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Upload Work Schedule</h6>
                <div class="row" style="font-size:13px">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Excel File</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="file" id="fileUpload" class="form-control fileUpload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 160px">
                                <button type="button" id="btnValidate" class="btn btn-primary" style="font-size: 12px;">
                                    <span>Validate</span>
                                </button>
                                <button type="button" id="btnTemplate" class="btn btn-primary" style="font-size: 12px;">
                                    <span>Download Template</span>
                                </button>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="row" style="font-size:13px">
                    <div id="divInValid" class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%;display:none">
                        <table id="tableInvalid" class="table table-bordered table-striped table-condensed" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th style="font-size:11px">No</th>
                                    <th style="font-size:11px">NPK</th>
                                    <th style="font-size:11px">NAMA</th>
                                    <th style="font-size:11px">TGLStart</th>
                                    <th style="font-size:11px">TGLEnd</th>
                                    <th style="font-size:11px">SHIFT</th>
                                    <th style="font-size:11px">NOTE</th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                    <div id="divValid" class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%;display:none">
                        <table id="tableValid" class="table table-bordered table-striped table-condensed" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th style="font-size:11px">No</th>
                                    <th style="font-size:11px">NPK</th>
                                    <th style="font-size:11px">NAMA</th>
                                    <th style="font-size:11px">TGLStart</th>
                                    <th style="font-size:11px">TGLEnd</th>
                                    <th style="font-size:11px">SHIFT</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br />
                        <button type="button" id="btnSubmit" class="btn btn-primary" style="font-size: 12px;">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var data = [];
            $("#tableValid tbody tr").each(function (index) {

                data.push({
                    "npk": $(this).find('#spNpk').text(),
                    "tglKerja": $(this).find('#sptglKerja').text(),
                    "tglKerjaEnd": $(this).find('#sptglKerjaEnd').text(),
                    "shift": $(this).find('#spshift').text(),
                });

            });

            var jsonData = JSON.stringify(data);

            if (jsonData != "[]") {
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: "/Magang/UploadSch",
                    data: jsonData,
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.success) {
                            $('#divValid').hide();

                            Swal.fire({
                                title: 'Success!',
                                text: response.msg,
                                icon: 'success',
                                heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                                width: '300px', // Menyesuaikan lebar
                            });
                        }
                        else {
                            Swal.fire({
                                title: '',
                                text: response.msg,
                                icon: 'error',
                                heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
                                width: '300px', // Menyesuaikan lebar
                            });

                        }
                    }
                });
            }
            else {

            }

        });
        $("#btnValidate").click(function () { 
            $("#tbody").empty();
            var fileInput = document.getElementById('fileUpload');
            var files = fileInput.files;
            if (files.length == 0) {
                $('#btnValidate').prop('disabled', false);
            }
            else {
                var formData = new FormData();
                formData.append('f', files[0]);
                $.ajax({
                    url: "/Magang/ValidateWorkSch",
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if (data.status == true) 
                        {
                            var dt = data.data;
                            if (data.is_valid == 1) {
                                for (var d = 0; d < dt.length; d++) {
                                    var npk = "<span id='spNpk'>" + dt[d].npk + "</span>";
                                    var tglKerja = "<span id='sptglKerja'>" + dt[d].tglKerja + "</span>";
                                    var tglKerjaEnd = "<span id='sptglKerjaEnd'>" + dt[d].tglKerjaEnd + "</span>";
                                    var shift = "<span id='spshift'>" + dt[d].shift + "</span>";
                                    $('#tableValid tbody').append("<tr >"
                                        + "<td class='col1' style='font-size: 11px'>" + dt[d].no + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + npk + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + tglKerja + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + tglKerjaEnd + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + shift + "</td>"
                                        + "</tr>"
                                    );
                                }
                                $('#divInValid').hide();
                                $('#divValid').show();

                            }
                            else {
                                for (var d = 0; d < dt.length; d++) {
                                    var npk = "<span id='spNpk'>" + dt[d].npk + "</span>";
                                    var tglKerja = "<span id='sptglKerja'>" + dt[d].tglKerja + "</span>";
                                    var tglKerjaEnd = "<span id='sptglKerjaEnd'>" + dt[d].tglKerjaEnd + "</span>";
                                    var shift = "<span id='spshift'>" + dt[d].shift + "</span>";
                                    $('#tableInvalid tbody').append("<tr >"
                                        + "<td class='col1' style='font-size: 11px'>" + dt[d].no + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + npk + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + tglKerja + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + tglKerjaEnd + "</td>"
                                        + "<td class='col1' style='font-size: 11px'>" + shift + "</td>"
                                        + "</tr>"
                                    );
                                }
                                $('#divInValid').show();
                                $('#divValid').hide();
                            }
                        }
                    }
                });
        });
    });
</script>