﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<style>
    .card {
        font-size: 13px;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Work Schedule Pemagangan</h5>
                <div class="row" style="font-size:13px">
                    <div class="col-lg-3">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPK" class="form-control txtNPK">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Bulan</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlBln" class="form-control ddlBln select2">
                                            <option value="1">Januari</option>
                                            <option value="2">Februari</option>
                                            <option value="3">Maret</option>
                                            <option value="4">April</option>
                                            <option value="5">Mei</option>
                                            <option value="6">Juni</option>
                                            <option value="7">Juli</option>
                                            <option value="8">Agustus</option>
                                            <option value="9">September</option>
                                            <option value="10">Oktober</option>
                                            <option value="11">November</option>
                                            <option value="12">Desember</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 140px">
                                <button type="button" id="btSearch" class="btn btn-primary" style="font-size: 13px;">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-3">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Name</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtName" class="form-control txtName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tahun</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlThn" class="form-control ddlThn select2">
                                            <option value="2025">2025</option>
                                            <option value="2024">2024</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Divisi</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlDivisi" class="form-control ddlDivisi select2">
                                            <option value="0">Semua</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Dept</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlDept" class="form-control ddlDept select2">
                                            <option value="0">Semua</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row" style="font-size:13px">
                    <div>
                        <button type="button" id="btnUpload" class="btn btn-primary" style="font-size:13px">
                            <span>Upload Work Schedule</span>
                        </button>
                    </div>
                    <br>
                    <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                        <table id="tableFam" class="table table-bordered table-striped table-condensed" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>NPK Magang</th>
                                    <th>Name</th>
                                    <th>Divisi</th>
                                    <th>Department</th>
                                    <th>Tanggal Kerja</th>
                                    <th>Work Type</th>
                                    <th>Shift</th>
                                    <th>Jam Mulai</th>
                                    <th>Jam Selesai</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlBln').select2();
        $('#ddlThn').select2();
        $('#ddlDivisi').select2();
        $('#ddlDept').select2();
        $('.btnUpload').on("click", function () {
            window.location.href = "/Magang/UWorkSchedule";
        });
        $("#btSearch").click(function () {
            Filter();
        });
        // Swal.fire({
        //     title: 'Success!',
        //     text: 'SweetAlert2 works without jQuery.',
        //     icon: 'success',
        //     heightAuto: false, // Menonaktifkan pengaturan tinggi otomatis
        //     width: '300px', // Menyesuaikan lebar
        // });
    });
    function Filter() { 
        var filter = {
            npk: $(".txtNPK").val(),
            nama: $(".txtName").val(),
            ID_division: $(".txtRegDate").val(),
            id_dept: $(".txtJoinDate").val(),
            id_shift: $(".txtJoinDate").val(),
            tglmulai: $(".txtJoinDate").val(),
            tglend: $(".txtJoinDate").val(),
            id_user: $(".txtJoinDate").val(),
            npkLogin: $(".txtJoinDate").val()
        }
        $.ajax({
            url: "/Magang/loadgetWorkSch",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                if ($.fn.DataTable.isDataTable('#tableFam')) {
                    $('#tableFam').DataTable().clear().destroy();
                }
                // Initialize DataTable
                $("#tableFam").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "npk_magang" },
                        { "data": "name", "autoWidth": true },
                        { "data": "division", "autoWidth": true },
                        { "data": "department", "autoWidth": true },
                        { "data": "calendar_date", "autoWidth": true },
                        { "data": "DWS_Type", "autoWidth": true },
                        { "data": "Master_Shift_Header_Name", "autoWidth": true },
                        { "data": "clock_in", "autoWidth": true },
                        { "data": "clock_out", "autoWidth": true },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });
    }
</script>
