@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span id="spJenisTms">@ViewBag.JenisTMS</span> DATA INTEGRATION</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Bulan</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <span id="spbln" class="form-control">@ViewBag.bln</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNpk" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tahun</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <span id="spthn" class="form-control">@ViewBag.thn</span>
                                        <span id="spstatus" class="form-control"
                                            style="display: none;">@ViewBag.status</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Divisi</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="dllDivision" name="options" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">

                                        <select id="ddlStatus" name="options" class="form-control">
                                            <option value="">- All -</option>
                                            <option value="A">Success</option>
                                            <option value="F">Failed</option>
                                            <option value="P">On Progress</option>
                                            <option value="N">Draft</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 210px">
                                <button type="button" id="btSearch" class="btn btn-primary">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%" id="divCICO"
                    style="display:none">
                    <table id="tableMPCico" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>

                                <th>No.</th>
                                <th> <input type="checkbox" id="chkSelectAll" class="filled-in chkSelectAll"
                                        value="1" />
                                    <label for="chkSelectAll"> </label>
                                </th>
                                <th>Sent?</th>
                                <th>RegNo</th>
                                <th>NPK</th>
                                <th>Nama Pegawai</th>
                                <th>Tgl Kerja</th>
                                <th>Jam</th>
                                <th>Assign Day</th>
                                <th>Status Send</th>
                                <th>Message</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%" id="divSUPEM"
                    style="display:none">
                    <table id="tableMPSupem" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>

                                <th>No.</th>
                                <th> <input type="checkbox" id="chkSelectAll" class="filled-in chkSelectAll"
                                        value="1" />
                                    <label for="chkSelectAll"> </label>
                                </th>
                                <th>Sent?</th>
                                <th>NoSurat</th>
                                <th>NPK</th>
                                <th>Nama Pegawai</th>
                                <th>Tgl Supem / Jenis Izin / Code</th>
                                <th>Status Send</th>
                                <th>Tgl Buat</th>
                                <th>Message</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%" id="divSPL"
                    style="display:none">
                    <table id="tableMPSpl" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>

                                <th>No.</th>
                                <th> <input type="checkbox" id="chkSelectAll" class="filled-in chkSelectAll"
                                        value="1" />
                                    <label for="chkSelectAll"> </label>
                                </th>
                                <th>Sent?</th>
                                <th>NoSurat</th>
                                <th>NPK</th>
                                <th>Nama Pegawai</th>
                                <th>Tgl Overtime / Jenis Overtime / Code</th>
                                <th>Status Send</th>
                                <th>Tgl Buat</th>
                                <th>Message</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLoader" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md modal-center" role="document">
        <div class="modal-content" style="border-radius:5px; padding:25px !important;">
            <div id="divLoadData" class="text-center p-100">
                <div class="preloader pl-size-xl">
                    <div class="spinner-layer pl-red-grey">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p class="text-center">Please wait ...</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var spJenisTms = $("#spJenisTms").text();
    var totalRows = 2500;
    $(document).ready(function () {
        $("#ddlStatus").val($("#spstatus").text());
        if (spJenisTms == "CICO") {
            LoadGVCico();

        }
        else if (spJenisTms == "SUPEM") {
            LoadGVSupem();
        }
        else if (spJenisTms == "SPL") {
            LoadGVSPL();
        }
        else {
            $("#divCICO").hide();
            $("#divSUPEM").hide();
            $("#divSPL").hide();
        }

        $("#btSearch").click(function () {
            if (spJenisTms == "CICO") {
                LoadGVCico();
            }
            else if (spJenisTms == "SUPEM") {
                LoadGVSupem();
            }
            else if (spJenisTms == "SPL") {
                LoadGVSPL();
            }
            else {
                $("#divCICO").hide();
                $("#divSUPEM").hide();
                $("#divSPL").hide();
            }

        });
    });
    function LoadGVCico() {
        $("#modalLoader").modal('show');
        $("#divCICO").show();
        $("#divSUPEM").hide();
        $("#divSPL").hide();
        var filter = {
            dllDivision: $("#dllDivision").val(),
            ddlStatus: $("#ddlStatus").val(),
            ddlBulan: $("#spbln").text(),
            dllTahun: $("#spthn").text(),
            npk: $("#txtNpk").val(),

        };
        $.ajax({
            url: "/SAPTMS/loadDetailCICO",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableMPCico')) {
                    $('#tableMPCico').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableMPCico").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        {
                            "data": "cicO_ID", "name": "cicO_ID", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                if (row.pro_scs == 0)
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelect" value="' + data + '"/> <label for="id' + data + '"> </label>'
                                else
                                    return ''
                            }
                        },
                        {
                            "data": "cicO_ID", "name": "cicO_ID", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                if (row.pro_scs == 1)
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelectt" value="' + data + '"/> <label for="id' + data + '"> </label>'
                                else
                                    return ''
                            }
                        },
                        { "data": "cicO_ID", "name": "cicO_ID", "autoWidth": true },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "empNm", "name": "empNm", "autoWidth": true },
                        { "data": "cI_date", "name": "cI_date", "autoWidth": true },
                        { "data": "jamCI", "name": "jamCI", "autoWidth": true },
                        { "data": "assignDay", "name": "assignDay", "autoWidth": true },
                        { "data": "status_xml", "name": "status_xml", "autoWidth": true },
                        { "data": "pro_msg", "name": "pro_msg", "autoWidth": true },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });
    }
    function LoadGVSupem() {
        $("#modalLoader").modal('show');
        $("#divCICO").hide();
        $("#divSUPEM").show();
        $("#divSPL").hide();
        var filter = {
            dllDivision: $("#dllDivision").val(),
            ddlStatus: $("#ddlStatus").val(),
            ddlBulan: $("#spbln").text(),
            dllTahun: $("#spthn").text(),
            npk: $("#txtNpk").val(),

        };
        $.ajax({
            url: "/SAPTMS/loadDetailSupem",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableMPSupem')) {
                    $('#tableMPSupem').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableMPSupem").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        {
                            "data": "permission_id", "name": "permission_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                if (row.pro_scs == 0)
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelect" value="' + data + '"/> <label for="id' + data + '"> </label>'
                                else
                                    return ''
                            }
                        },
                        {
                            "data": "permission_id", "name": "permission_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                if (row.pro_scs == 1)
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelectt" value="' + data + '"/> <label for="id' + data + '"> </label>'
                                else
                                    return ''
                            }
                        },
                        { "data": "permission_id", "name": "permission_id", "autoWidth": true },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "nama", "name": "nama", "autoWidth": true },
                        {
                            "data": "permission_date", "name": "permission_date", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                var d = "<b>" + data + "</b><br>" + row.permit_name + "(" + row.permit_code + ") ";
                                return d
                            }
                        },
                        { "data": "status_xml", "name": "status_xml", "autoWidth": true },
                        { "data": "last_update", "name": "last_update", "autoWidth": true },
                        { "data": "pro_msg", "name": "pro_msg", "autoWidth": true },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });

    }
    function LoadGVSPL() {
        $("#modalLoader").modal('show');
        $("#divCICO").hide();
        $("#divSUPEM").hide();
        $("#divSPL").show();
        var filter = {
            dllDivision: $("#dllDivision").val(),
            ddlStatus: $("#ddlStatus").val(),
            ddlBulan: $("#spbln").text(),
            dllTahun: $("#spthn").text(),
            npk: $("#txtNpk").val(),

        };
        $.ajax({
            url: "/SAPTMS/loadDetailSpl",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableMPSpl')) {
                    $('#tableMPSpl').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableMPSpl").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        {
                            "data": "noSurat", "name": "noSurat", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                if (row.pro_scs == 0)
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelect" value="' + data + '"/> <label for="id' + data + '"> </label>'
                                else
                                    return ''
                            }
                        },
                        {
                            "data": "noSurat", "name": "noSurat", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                if (row.pro_scs == 1)
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelectt" value="' + data + '"/> <label for="id' + data + '"> </label>'
                                else
                                    return ''
                            }
                        },
                        { "data": "noSurat", "name": "noSurat", "autoWidth": true },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "nama", "name": "nama", "autoWidth": true },
                        {
                            "data": "tgglAwal", "name": "tgglAwal", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                var d = "<b>" + data + "</b><br>" + row.type_name + "(" + row.splCode + ") ";
                                return d
                            }
                        },
                        { "data": "status_xml", "name": "status_xml", "autoWidth": true },
                        { "data": "created_date", "name": "created_date", "autoWidth": true },
                        { "data": "msg_xml", "name": "msg_xml", "autoWidth": true },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });

    }
</script>