@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">TMS DATA INTEGRATION</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Jenis TMS</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="dlljenisTms" name="options" class="form-control">
                                            <option value="CICO">CICO</option>
                                            <option value="SUPEM">SUPEM</option>
                                            <option value="SPL">SPL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Bulan</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlBulan" name="options" class="form-control">
                                            <option value="1">Januari</option>
                                            <option value="2">Februari</option>
                                            <option value="3">Maret</option>
                                            <option value="4">April</option>
                                            <option value="5">Mei</option>
                                            <option value="6">Juni</option>
                                            <option value="7">Juli</option>
                                            <option value="8">Agustus</option>
                                            <option value="9">September</option>
                                            <option value="10">Oktober</option>
                                            <option value="11">November</option>
                                            <option value="12">Desember</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Divisi</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="dllDivision" name="options" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tahun</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="dllTahun" name="options" class="form-control">
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlStatus" name="options" class="form-control">
                                            <option value="">- All -</option>
                                            <option value="A">Success</option>
                                            <option value="F">Failed</option>
                                            <option value="P">On Progress</option>
                                            <option value="N">Draft</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 210px">
                                <button type="button" id="btSearch" class="btn btn-primary">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="btnSend" class="btn btn-success">
                        <span>KIRIM DATA KE SISTEM SAP</span>
                    </button>

                </div>
                <br>
                <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                    <table id="tableMP" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>

                                <th>No.</th>
                                <th>Status</th>
                                <th>Jumlah</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var date = new Date();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        $("#ddlBulan").val(month);
        $("#dllTahun").val(year);
        $("#btSearch").click(function () {
            loadgv();
        });
        $("#btnSend").click(function () {
            send();
        });

    });
    function loadgv() {
        var filter = {
            dllDivision: $("#dllDivision").val(),
            ddlStatus: $("#ddlStatus").val(),
            ddlBulan: $("#ddlBulan").val(),
            dllTahun: $("#dllTahun").val(),
            dlljenisTms: $("#dlljenisTms").val()
        };
        $.ajax({
            url: "/SAPTMS/loadGV",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (data) {
                if (data.status == true) {
                    $('#tableMP tbody').empty();
                    var att = data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++) {
                        var d = i + 1;
                        var btn = "";
                        if (att[i].status_xml == "On Progress") {
                            btn = "<button type='button' id='btnDetail' class='btn btn-primary' onclick='detail(\"" + att[i].status_xml + "\")'>Detail</button>  <button type='button' id='btnDetail' class='btn btn-warning' onclick='unproses(\"" + att[i].status_xml + "\")'>Un Process</button>";
                        }
                        else {
                            btn = "<button type='button' id='btnDetail' class='btn btn-primary' onclick='detail(\"" + att[i].status_xml + "\")'>Detail</button>";

                        }
                        $('#tableMP tbody').append("<tr >"

                            + "<td class='col1'>" + d + "</td>"
                            + "<td class='col2'>" + att[i].status_xml + "</td>"
                            + "<td class='col3'>" + att[i].jmlh + "</td>"
                            + "<td class='col5'> " + btn + "</td>"

                            + "</tr>"
                        );
                    }
                }
            }
        });

    }
    function detail(status) 
    {
        var s="P";
        if(status=="Success")
            s="A";
        else if(status=="Failed")
            s="F";
        else if(status=="On Progress")
            s="P";
        else if(status=="Draft")
            s="N";
        
        window.location.href = "/SAPTMS/Detail?j="+ $("#dlljenisTms").val()+"&pr="+$("#ddlBulan").val()+"&y="+$("#dllTahun").val()+"&s="+s+"";
       
    }
    function unproses(status) 
    {
        console.log(status);
        var filter = {
            ddlBulan: $("#ddlBulan").val(),
            dllTahun: $("#dllTahun").val(),
            dlljenisTms: $("#dlljenisTms").val()
        };
         var jsonData = JSON.stringify(filter);
          $.ajax({
            type: 'POST',
            url: "/SAPTMS/SendUnProses",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) 
                {
                    loadgv();
                    alert(response.msg);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function send() {
        var filter = {
            ddlBulan: $("#ddlBulan").val(),
            dllTahun: $("#dllTahun").val(),
            dlljenisTms: $("#dlljenisTms").val()
        };
        var jsonData = JSON.stringify(filter);
        $.ajax({
            type: 'POST',
            url: "/SAPTMS/SendXML",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) 
                {
                    loadgv();
                    alert(response.msg);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
</script>