@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">RECALCULATE CICO</h5>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">
                                    <h5>Personal</h5>
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" name="npk" id="txtNpk" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Periode</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="date_start" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">To</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="date_end" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 210px">
                                <button type="button" id="btnSubmitPersonal" class="btn btn-primary">
                                    <span>Submit</span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">
                                    <h5>Massal</h5>
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <textarea id="txtNpkMul" rows="2" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Periode</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="date_start_mul" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">To</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="date_end_mul" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 210px">
                                <button type="button" id="btSubmitMul" class="btn btn-primary">
                                    <span>Submit</span>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmitPersonal").click(function () {
            sendPersonal();
        });
        $("#btSubmitMul").click(function () {
            sendMultiple();
        });

    });
    function sendPersonal() {
        var param = {
            txtNpk: $("#txtNpk").val(),
            date_start: $("#date_start").val(),
            date_end: $("#date_end").val()
        };
        var jsonData = JSON.stringify(param);
        console.log(jsonData);
        $.ajax({
            type: 'POST',
            url: "RCico/SubmitPersonal",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    alert(response.msg);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function sendMultiple() {
        var param = {
            txtNpk: $("#txtNpkMul").val(),
            date_start: $("#date_start_mul").val(),
            date_end: $("#date_end_mul").val()
        };
        var jsonData = JSON.stringify(param);
        $.ajax({
            type: 'POST',
            url: "RCico/SubmitMultiple",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    alert(response.msg);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
</script>