/*Stylesheet 
  Created by Albert Ricia
  on 31 July 2014
*/

#cstFile
{
	width:280px;
}

.file-error
{
	color:red;
	font-size:8pt;
	font-weight: bold;
}

.progressbar{
	display: none;
}

#cstProgressBar
{
	width: 0%;
}