@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="login-box" style="width: 100%">
    <div class="cardLogin">
        <div class="bodyLogin">
            <div class="center p-t-125">
                <img src="~/Assets/images/faviconHR.png" width="70" height="70" class="img-rounded" />
                <div class="col-white p-t-15 p-b-15" style="font-size: medium">Selamat datang sahabat!</div>
                <div class="input-group">
                    <span class="input-group-addon v-top">
                        <i class="material-icons white">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="pad form-control username" placeholder="NPK.." />
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons white">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="pad form-control password" placeholder="Password.." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">

                        <a href="~/Pages/Others/Forgot.aspx">
                            Lupa Password?
                        </a>
                        <button id="btnVerifikasi" style="display: none" type="button"
                            class="btn btn-block bg-pink waves-effect">Validate</button>
                        <button id="activeAccount" style="display: none" type="button"
                            class="btn btn-block bg-pink waves-effect activeAccount">Active Account?</button>

                    </div>
                    <div class="col-xs-4">
                        <button id="btnLogin" type="button" class="btn btn-block bg-pink waves-effect">MASUK</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalMFA" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-md modal-center" role="document">
            <div class="modal-content" style="border-radius: 5px; padding: 25px !important;">
                <div id="divbarcode" style="display:none">
                    <div>
                    <img src="" alt="Barcode" width="300" height="300" id="imgBarc" />

                    </div>
                    <div>
                        Manual Setup Code : <p id="pmanual"></p>
                    </div>
                </div>
               
                <div class="row">
                    @* @using (Html.BeginForm("TwoFactorAuthenticate", "Home", FormMethod.Post))
                    { *@
                    <div class="col-xs-4 p-t-5">
                        <input type="text" name="CodeDigit" class="CodeDigit form-control"/>
                    </div>
                    <div class="col-xs-4 p-t-5">
                       <button id="btnSubmit" type="button" class="btn btn-block bg-pink waves-effect" style="width:100px">Submit</button>

                    </div>
                    @* } *@
                    <div id="msgerror" style="color: red; border: 0px; text-align: center;">
                        <b><i><h5 id="imsge"></h5></i></b>
                    </div>
                    <div id="msgsucc" style="display: none;background-color:green;color:white;border:1px solid;width:250px;margin-left: 300px;text-align: center;r">
                        <h5 id="imsgs"></h5>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnLogin').on("click", function () {
            login();
        });
        $('#btnSubmit').on("click", function () {
            Verikasi();
        });
    });
    function Verikasi(){
        var dataNPK = {
            Password: $('.password').val(),
            UserName: $('.username').val(),
            CodeDigit: $('.CodeDigit').val()
        };
        $.ajax({
            type: 'POST',
            cache: false,
            url: "Validate",
            data: dataNPK,
            success: function (response) {
                console.log(response);

                if (response.status == true) 
                {
                    window.location.href = "\Index";
                } 
                else
                {
                    $("#msgsucc").hide();
                    $("#msgerror").show();
                    $("#imsge").text(response.msg);
                    
                }
            }
        });
    }
    function login() {
        var dataNPK = {
            Password: $('.password').val(),
            UserName: $('.username').val()
        };
        $.ajax({
            type: 'POST',
            cache: false,
            url: "LoginPos",
            data: dataNPK,
            success: function (response) {
                console.log(response);

                if (response.status == true) 
                {
                    if(response.urlPath!="")
                    {
                        window.location.href = "\Index";
                    }
                    else if (response.is_mfa == "1" && response.register== "YA")
                    {
                        var url = 'data:image/png;base64,' + response.barcodeImageUrl;
                        $('#imgBarc').attr('src', url);
                        $('#pmanual').text(response.setupCode);
                        $("#divbarcode").show();
                        $("#modalMFA").modal('show');
                    }
                    else if (response.is_mfa == "1" && response.register== "")
                    {
                        $("#divbarcode").hide();
                        $("#modalMFA").modal('show');
                    }
                   

                } 
                else
                {


                }
            }
        });
    }
</script>