@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">LIHAT ABSENSII</h4>
                <div class="clear"></div>
                <div class="row">
                    <table class="table no-border">
                        <tr>
                            <th width="225px" class="valign-middle">NPK</th>
                            <td colspan="4">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <span id="lblNPK">@Html.Raw(ViewBag.npk)</span>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="225px" class="valign-middle">Nama Karyawan</th>
                            <td colspan="4">
                                <div class="form-group no-margin">
                                    <div class="form-line">

                                        <span id="lblNamaKaryawan"> @Html.Raw(ViewBag.nama)</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="225px" class="valign-middle">Periode</th>
                            <td>

                                <select id="ddlMonthly" class="form-control">
                                    <option value="1">Januari</option>
                                    <option value="2">Februari</option>
                                    <option value="3">Maret</option>
                                    <option value="4">April</option>
                                    <option value="5">Mei</option>
                                    <option value="6">Juni</option>
                                    <option value="7">Juli</option>
                                    <option value="8">Agustus</option>
                                    <option value="9">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Desember</option>
                                </select>
                            </td>
                            <td>&nbsp;</td>
                            <td>

                                </asp:DropDownList>
                                <select id="ddlYear" class="form-control">
                                    <option value="2024">2024</option>
                                    <option value="2023">2023</option>
                                </select>
                            </td>
                            <td width="40%"></td>
                        </tr>
                    </table>
                    <table id="tableMP" class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>Tanggal Kerja</th>
                                <th>Shift</th>
                                <th>Jam Kerja</th>
                                <th>Jam Masuk</th>
                                <th>Jam Keluar</th>
                                <th>Lembur (In)</th>
                                <th>Lembur (Out)</th>
                                <th>Keterangan</th>
                                <th>Terlambat</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var date = new Date();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        $("#ddlMonthly").val(month);
        $("#ddlYear").val(year);
        loadgv();
    });
    function loadgv() {

         $.ajax({
            type: "POST",
            url: "ViewAbsence/getDataLihat?npk=" + $("#lblNPK").text() + "&bln=" + $("#ddlMonthly").val() + "&thn=" + $("#ddlYear").val(),
            success: function (data) {
                if (data.status == true) {
                    var att = data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++) {
                        var CI_date = att[i].cI_date;
                        var CO_date = att[i].cO_date;
                        var overtime_in = att[i].overtime_in;
                        var overtime_out = att[i].overtime_out;
                        if (att[i].stats == "C1" || att[i].stats == "C2") {
                            CI_date = "-";
                            CO_date = "-";
                            overtime_in = "-";
                            overtime_out = "-";
                        }
                        var calendar_date = formatDate(att[i].calendar_date);
                        if (CI_date != null && CI_date != "null") {
                            var tglci = formatDate(att[i].cI_date);
                            if (calendar_date != tglci) {
                                CI_date = jamTgl(CI_date);
                            }
                            else
                                CI_date = jam(CI_date);
                        }
                        else
                            CI_date = "-";
                        if (CO_date != null && CO_date != "null") {
                            var tglco = formatDate(att[i].cO_date);
                            if (calendar_date != tglco) {
                                CO_date = jamTgl(CO_date);
                            }
                            else
                                CO_date = jam(CO_date);
                        }
                        else
                            CO_date = "-";
                        if (att[i].stats != null && att[i].stats != "null") { 
                            att[i].stats=att[i].stats
                        }
                        else
                            att[i].stats="-";
                        $('#tableMP tbody').append("<tr >"

                            + "<td class='col1'>" + calendar_date + "</td>"
                            + "<td class='col2'>" + att[i].wsR_name + "</td>"
                            + "<td class='col3'>" + att[i].jamEmp_work + "</td>"
                            + "<td class='col4'>" + CI_date + "</td>"
                            + "<td class='col5'>" + CO_date + "</td>"
                            + "<td class='col5'>" + overtime_in + "</td>"
                            + "<td class='col5'>" + overtime_out + "</td>"
                            + "<td class='col5'>" + att[i].stats + "</td>"
                            + "<td class='col5'>" + att[i].telat + "</td>"
                            + "</tr>"
                        );
                    }
                }

            }
        });
    }
    function formatDate(isoDate) {
        var datePart = isoDate.split('T')[0];
        return datePart;
    }
    function jamTgl(isoDate) {
        // Tanggal awal dalam format ISO 8601
        var isoDateString = isoDate;

        // Ambil tanggal dan waktu dari string ISO
        var dateTimeParts = isoDateString.split('T');
        var datePart = dateTimeParts[0];
        var timePart = dateTimeParts[1].substring(0, 5); // Ambil hanya jam dan menit

        // Gabungkan tanggal dan waktu tanpa 'T'
        var formattedDateTime = datePart + ' ' + timePart;

        // console.log(formattedDateTime); // Output: 2024-03-04 07:07
        return formattedDateTime
    }
    function jam(time_) {
        var dateTimeString = time_;
        var dateObj = new Date(dateTimeString);
        var hours = dateObj.getHours();
        var minutes = dateObj.getMinutes();
        var formattedTime = ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2);
        return formattedTime;
    }
</script>