@{
    Layout = "~/Views/Shared/_Layoutp.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          
           <div class="card-body">
                <h4 class="card-title">ATTENDANCE CONTROL</h4>
                <table class="table no-border">
                    <tr>
                        <td width="20px" class="valign-middle"><span class="material-icons">flag</span></td>
                        <th width="225px" class="valign-middle">NPK</th>
                        <td colspan="2">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" name="npk" id="txtnpk" class="form-control"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20px" class="valign-middle"><span class="material-icons">flag</span></td>
                        <th width="225px" class="valign-middle">Tanggal</th>
                        <td >
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="date" id="startdate" class="form-control"/>
                                </div>
                            </div>
                        </td>
                        <td>-</td>
                         <td >
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="date"  id="endate" class="form-control"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="2"></td>
                        <td align="right" colspan="4">
                            <button type="button" id="btSearch" class="btn btn-primary">
                                <i class="material-icons">search</i>
                                <span>FILTER</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="table-responsive">
                    <table id="tableMP" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="22px">No.</th>
                                <th>Name (NPK)</th>
                                <th>DWS Code</th>
                                <th>Clock In</th>
                                <th>Clock Out</th>
                                <th>Status</th>
                                <th>Manual</th>
                                <th>Tgl Ubah</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                         <tbody>

                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        loadgv();
    });
    function loadgv() 
    {
         $.ajax({
            type: "POST",
            url: "loadGV?Npk=" + $("#txtnpk").val() + "&startdate=" + $("#startdate").val() + "&endDate=" + $("#endate").val() ,
            success: function (data)
            {
                if(data.status==true)
                {
                    $('#tableMP tbody').empty();
                    var att=data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++)
                    {
                        var d=i+1;
                        $('#tableMP tbody').append("<tr >"
                            
                            + "<td class='col1'>" + d + "</td>"
                            + "<td class='col2'>" + att[i].employee + "</td>"
                            + "<td class='col3'>" + att[i].dwS_Type + "</td>"
                            + "<td class='col4'>" + att[i].cI_date + "</td>"
                            + "<td class='col5'>" + att[i].cO_date + "</td>"
                            + "<td class='col5'>" + att[i].status_ + "</td>"
                            + "<td class='col5'>" + att[i].isManual + "</td>"
                            + "<td class='col5'>" + att[i].last_update + "</td>"
                            + "<td class='col5'></td>"
                            + "</tr>"
                        );
                    }
                }
            }
        });
    }
</script>