@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">REJECT CUTI</h5>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPk" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Periode</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="dllTahun" name="options" class="form-control">
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Request Date</label>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtStartDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtEndDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlStatus" name="options" class="form-control">
                                            <option value="P">On Prpgress</option>
                                            <option value="A">Approved</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">&nbsp;</label>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <button type="button" id="btSearch" class="btn btn-primary">
                                        <span>FILTER</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="btnSend" class="btn btn-danger">
                        <span>Reject</span>
                    </button>
                </div>
                <br>
                <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                    <table id="tableMPCico" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>


                                <th> <input type="checkbox" id="chkSelectAll" class="filled-in chkSelectAll"
                                        value="1" />
                                    <label for="chkSelectAll"> </label>
                                </th>
                                <th>No.</th>
                                <th>NPK</th>
                                <th>Nama</th>
                                <th>Dept</th>
                                <th>Divisi</th>
                                <th>Cuti Tahunan</th>
                                <th>Tgl CT</th>
                                <th>Cuti Panjang</th>
                                <th>Tgl CP</th>
                                <th>Status</th>
                                <th>Tgl Buat</th>
                            </tr>
                        </thead>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLoader" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md modal-center" role="document">
        <div class="modal-content" style="border-radius:5px; padding:25px !important;">
            <div id="divLoadData" class="text-center p-100">
                <div class="preloader pl-size-xl">
                    <div class="spinner-layer pl-red-grey">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p class="text-center">Please wait ...</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReject" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="H1">Form Alasan Ditolak </h4>

            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <label for="periode">Alasan Ditolak</label>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="txtComment" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnReject" class="btn btn-danger">
                        <span>Reject</span>
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-info">
                        <span>Batal</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var totalRows = 2500;
    $(document).ready(function () {
        var date = new Date();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        $("#dllTahun").val(year);
        $("#btSearch").click(function () {
            LoadGV();
        });
        $("#btnSend").click(function () {
            $("#modalReject").modal('show');
        });
        $("#btnReject").click(function () {
            if ($("#txtComment").val() == "") {
                alert("Alasan Ditolak Tidak Boleh Diisi");
            }
            else {
                send();
            }

        });

    });
    function LoadGV() {
        var filter = {
            npk_: $("#txtNPk").val(),
            tgl_request_start: $("#txtStartDate").val(),
            tgl_request_end: $("#txtEndDate").val(),
            status: $("#ddlStatus").val(),
            tahun: $("#dllTahun").val(),
            npk_input: $("#txtNpkInput").val()
        };
        console.log(filter);
        $.ajax({
            url: "/RTMS/loadCuti",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableMPCico')) {
                    $('#tableMPCico').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableMPCico").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": "leave_id", "name": "leave_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelect" value="' + data + '"/> <label for="id' + data + '"> </label>'

                            }
                        },
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },

                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "name", "name": "name", "autoWidth": true },
                        { "data": "deptNm", "name": "deptNm", "autoWidth": true },
                        { "data": "divNm", "name": "divNm", "autoWidth": true },
                        { "data": "days_leave", "name": "days_leave", "autoWidth": true },
                        { "data": "CTDate", "name": "CTDate", "autoWidth": true },
                        { "data": "days_long_leave", "name": "days_long_leave", "autoWidth": true },
                        { "data": "CPDate", "name": "CPDate", "autoWidth": true },
                        { "data": "statusText", "name": "statusText", "autoWidth": true },
                        {
                            "data": "last_update", "name": "last_update", "autoWidth": true,
                            'render': function (data, type, row) {
                                return tanggal(data)
                            }
                        },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });
    }
    function send() {
        var selectedData = [];
        $("#tableMPCico input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
            var check = row.cells[0].firstChild;
            var id = check.value;
            selectedData.push({
                "keyID": id
            });
        });
        var reason = $("#txtComment").val();
        console.log(selectedData);
        var jsonData = JSON.stringify(selectedData);
        $.ajax({
            type: 'POST',
            url: "/RTMS/RejectCuti?reason=" + reason,
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    LoadGV();
                    $("#modalReject").modal('hide');
                    alert(response.msg);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function tanggal(tgl) {
        var dateTimeString = tgl;
        var dateObj = new Date(dateTimeString);
        var day = dateObj.getDate();
        var month = dateObj.getMonth(); // getMonth() mengembalikan nilai 0-11
        var year = dateObj.getFullYear();
        var monthNames = [
            'Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
            'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'
        ];
        var monthName = monthNames[month];
        var formattedDate = day + ' ' + monthName + ' ' + year;
        return formattedDate;
    }
    function jamTgl(isoDate) {
</script>