@model HRIS.Models.PDK.FamilyModel
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<section>
    <style>
        .container-fluid {
            padding: 15px;
        }

        .card {
            margin-bottom: 20px;
            border: 1px solid #e3e6f0;
            border-radius: 0.35rem;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        }

        .card-header {
            background-color: #f8f9fc;
            border-bottom: 1px solid #e3e6f0;
            padding: 10px 15px;
        }

        .card-title {
            margin: 0;
            font-size: 1.25rem;
        }

        .card-body {
            padding: 15px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .input-group .input-group-addon {
            padding: 0;
            border: none;
        }

        .input-group-addon button {
            border-radius: 0;
        }

        .mt-3 {
            margin-top: 1rem;
        }

        .mt-4 {
            margin-top: 1.5rem;
        }

        .no-margin {
            margin: 0 !important;
        }
    </style>
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">PERUBAHAN DATA KELUARGA</h1>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">PDK Family</h4>
                    </div>
                    <div class="card-body box-pdk">
                        <div class="form-group">
                            <div class="row" id="divSearch">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                                    <label for="NPK">NPK</label>
                                </div>
                                <div class="col-lg-6 col-md-10 col-sm-8 col-xs-7">
                                    <div class="input-group">
                                        <input asp-for="NPK" class="form-control" placeholder="NPK" required="true" />
                                        <span class="input-group-addon">
                                            <button type="button" class="btn btn-primary btn-xs">
                                                <i class="material-icons">search</i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-danger mt-3">
                                <strong>DATA KELUARGA SAAT INI</strong>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                                    <label for="Nama">Nama Lengkap</label>
                                </div>
                                <div class="col-lg-4 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <input asp-for="Nama" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                                    <label for="StatusPernikahan">Status Pernikahan</label>
                                </div>
                                <div class="col-lg-4 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <input asp-for="StatusPernikahan" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                             <div class="row mt-4">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                                    <label for="Nama">Tanggal Menikah</label>
                                </div>
                                <div class="col-lg-4 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <input asp-for="TanggalPernikahan" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                                    <label for="StatusPernikahan">Status Keluarga</label>
                                </div>
                                <div class="col-lg-4 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <input asp-for="StatusPernikahan" class="form-control" readonly/>
                                    </div>
                                </div>
                            </div>
                             <div class="alert alert-danger mt-3">
                                <strong>DATA KELUARGA SEKARANG</strong>
                            </div>
                            <div class="row mt-4">
                                 <table class="table table-bordered" id="tblFam" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Hubungan</th>
                                            <th>Nama</th>
                                            <th>Jenis Kelamin</th>
                                            <th>Tempat/Tgl Lahir</th>
                                            <th>Pekerjaan</th>
                                            <th>No Identitas</th>
                                            <th>No Garda Medika</th>
                                            <th>No BPJS</th>
                                            <th>Action</th>
                                            <th>Status BPJS</th>
                                            <th>Progress Status BPJS</th>
                                        </tr>
                                    </thead>                                   
                                    <tbody>
                                        @if (Model != null && Model.FamilyMembers != null)
                                        {
                                            for (var i = 0; i < Model.FamilyMembers.Count(); i++)
                                            {
                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td>@Model.FamilyMembers[i].Hubungan</td>
                                                    <td>@Model.FamilyMembers[i].Nama</td>
                                                    <td>@Model.FamilyMembers[i].JenisKelamin</td>
                                                    <td>@Model.FamilyMembers[i].TempatTanggalLahir</td>
                                                    <td>@Model.FamilyMembers[i].Pekerjaan</td>
                                                    <td>@Model.FamilyMembers[i].NoIdentitas</td>
                                                    <td>@Model.FamilyMembers[i].NoGardaMedika</td>
                                                    <td>@Model.FamilyMembers[i].NoBPJS</td>
                                                    <td>
                                                        <!-- Add action buttons here -->
                                                    </td>
                                                    <td>@Model.FamilyMembers[i].StatusBPJS</td>
                                                    <td>@Model.FamilyMembers[i].ProgressStatusBPJS</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="12">No family members available.</td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
