@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">REQUEST PERSONAL WORKING SCHEDULE</h4>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Plant</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" name="npk" id="ddlLocationFilter" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Start Date</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="date_start" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Buat</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="created_date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status Send</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlStatus" name="options" class="form-control">
                                            <option value=""> - All -</option>
                                            <option value="1">OK</option>
                                            <option value="2">NOT OK</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">End Date</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" name="npk" id="date_end" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 210px">
                                <button type="button" id="btSearch" class="btn btn-primary">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div style="margin-left: 600px">
                    <button type="button" id="btnAdd" class="btn btn-success">
                        <span>Request DATA Plant</span>
                    </button>
                    <button type="button" id="btnAddNPK" class="btn btn-success">
                        <span>Request DATA NPK</span>
                    </button>
                </div>
                <br>
                <div class="table-responsive">
                    <table id="tableMP" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th width="22px">No.</th>
                                <th>Plant</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Request</th>
                                <th>Status</th>
                                <th>Tgl Buat</th>
                                <th>
                                    <center>Action</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-full-width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="H155">Detail Request PWS Detail</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input type="text" id="idDetail" style="display:none" />
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">Status :</label>
                    </div>
                    <div class="col-lg-3 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">

                                <select id="mySelect" class="form-control status" onchange="changeStatus()">
                                    <option value="">All</option>
                                    <option value="A">Success</option>
                                    <option value="F">Failed</option>
                                    <option value="P">On Progress</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <br />
                <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                    <table id="tablePWS" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>

                                <th>No.</th>
                                <th>NPK</th>
                                <th>NAMA</th>
                                <th>REFF</th>
                                <th>FILE IN SAP</th>
                                <th>FILE OUT SAP</th>
                                <th>CONFIRM</th>
                                <th>MESSAGE</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="H15"><i class="material-icons">edit</i>
                    Request PWS Plant
                </h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">Location</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">

                                    <select id="ddlLocation" name="options" class="form-control">

                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">Start Date</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">

                                    <input type="date" name="npk" id="txtInputDate_start" class="form-control" />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                            <label for="periode">End Date</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group no-margin">
                                <div class="form-line no-border">
                                    <input type="date" name="npk" id="txtInputDate_end" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <div class="pull-right">
                    <button type="button" id="btGenerate" class="btn btn-primary">
                        <span>Request</span>
                    </button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAddNpk" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="H25"><i class="material-icons">edit</i>
                    Request PWS NPK
                </h5>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">Location</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <select id="ddlLocationNPK" name="options" class="form-control">

                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">NPK</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <textarea  id="txtNpk" rows="2" class="form-control"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">Start Date</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <input type="date" name="npk" id="txtInputDate_startnpk" class="form-control" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label no-margin">
                        <label for="periode">End Date</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group no-margin">
                            <div class="form-line no-border">
                                <input type="date" name="npk" id="txtInputDate_endnpk" class="form-control" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div class="pull-right">
                    <button type="button" id="btReqNPK" class="btn btn-primary">
                        <i class="material-icons">create</i>
                        <span>Request</span>
                    </button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        loadgv();

        $("#btSearch").click(function () {
            loadgv();
        });
        $("#btnAdd").click(function () {
            LoadLokasi();
            $('#modalAdd').modal('show');
        });
        $("#btnAddNPK").click(function () {
            LoadLokasiNPK();
            $('#modalAddNpk').modal('show');
        });
        $("#btGenerate").click(function () {
            savePlant();
        });
        $("#btReqNPK").click(function () {
            saveNpk();
        });
        

    });
    function savePlant() {
        var param = {
            plant: $("#ddlLocation").val(),
            startDate: $("#txtInputDate_start").val(),
            endDate: $("#txtInputDate_start").val()
        };
        var jsonData = JSON.stringify(param);
        $.ajax({
            type: 'POST',
            url: "CreateReqPlant",
            data: jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    alert(response.msg);
                     loadgv();
                    $('#modalAdd').modal('hide');
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function saveNpk()
    {
        var param = {
            plant: $("#ddlLocationNPK").val(),
            startDate: $("#txtInputDate_startnpk").val(),
            endDate: $("#txtInputDate_endnpk").val(),
            npk: $("#txtNpk").val()
        };
        var jsonData = JSON.stringify(param);
        $.ajax({
            type: 'POST',
            url: "CreateReqNpk",
            data:jsonData,
            contentType: 'application/json',
            success: function (response) {
                if (response.status == true) {
                    alert(response.msg);
                    $('#modalAddNpk').modal('hide');
                }
                else {
                    alert(response.msg);
                }
            }
        });
    }
    function loadgv() {
        $.ajax({
            type: "POST",
            url: "loadGV?plant=" + $("#ddlLocationFilter").val() + "&start_date=" + $("#date_start").val() + "&end_date=" + $("#date_end").val() + "&status_=" + $("#ddlStatus").val() + "&tglbuat=" + $("#created_date").val(),
            success: function (data) {
                if (data.status == true) {
                    $('#tableMP tbody').empty();
                    var att = data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++) {
                        var d = i + 1;
                        $('#tableMP tbody').append("<tr >"

                            + "<td class='col1'>" + d + "</td>"
                            + "<td class='col2'>" + att[i].locationNm + "</td>"
                            + "<td class='col3'>" + att[i].startDate + "</td>"
                            + "<td class='col4'>" + att[i].endDate + "</td>"
                            + "<td class='col5'>" + att[i].request + "</td>"
                            + "<td class='col5'>" + att[i].status_desc + "</td>"
                            + "<td class='col5'>" + formatDate(att[i].created_date) + "</td>"
                            + "<td class='col5'> <button type='button' id='btnDetail' class='btn btn-primary' onclick='detail(" + att[i].pid + ")'>Detail</button></td>"

                            + "</tr>"
                        );
                    }
                }
            }
        });
        function formatDate(isoDate) {
            // Membuat objek Date dari string ISO
            const date = new Date(isoDate);

            // Membuat formatter dengan opsi lokal bahasa Indonesia
            const formatter = new Intl.DateTimeFormat('id-ID', {
                day: 'numeric',
                month: 'long',
                year: 'numeric'
            });

            // Memformat tanggal
            return formatter.format(date);
        }
    }

    function detail(id) {
        $("#idDetail").val(id);
        $('#modalDetail').modal('show');
        loadDetail(id);
    }
    function changeStatus() {
        var obj = $("#idDetail").val();
        loadDetail(obj);
    }
    function loadDetail(id) {
        $.ajax({
            type: "POST",
            url: "GetDetail?pid=" + id + "&status_=" + $("#mySelect").val(),
            success: function (data) {
                if (data.status == true) {
                    $('#tablePWS tbody').empty();
                    var att = data.dataAtt;
                    console.log(att);
                    for (var i = 0; i < att.length; i++) {
                        var d = i + 1;
                        $('#tablePWS tbody').append("<tr >"

                            + "<td class='col1'>" + d + "</td>"
                            + "<td class='col2'>" + att[i].npk + "</td>"
                            + "<td class='col3'>" + att[i].nama + "</td>"
                            + "<td class='col4'>" + att[i].pid + "</td>"
                            + "<td class='col5'>" + att[i].file_name_ + "</td>"
                            + "<td class='col5'>" + att[i].file_name_out + "</td>"
                            + "<td class='col5'>" + att[i].status_xml + "</td>"
                            + "<td class='col5'>" + att[i].msg_xml + "</td>"

                            + "</tr>"
                        );
                    }
                }
            }
        });
    }
    function LoadLokasi() {
        $("#ddlLocation").empty();
        $.ajax({
            type: "POST",
            url: "GetLokasi",
            success: function (data) {
                var s = '';
                s = '<option value="">Pilih</option>';
                for (var i = 0; i < data.lis.length; i++) {
                    s += '<option value="' + data["lis"][i].value + '">' + data["lis"][i].text + '</option>';
                }
                $("#ddlLocation").html(s);
            }
        });
    }
    function LoadLokasiNPK() {
        $("#ddlLocationNPK").empty();
        $.ajax({
            type: "POST",
            url: "GetLokasi",
            success: function (data) {
                var s = '';
                s = '<option value="">Pilih</option>';
                for (var i = 0; i < data.lis.length; i++) {
                    s += '<option value="' + data["lis"][i].value + '">' + data["lis"][i].text + '</option>';
                }
                $("#ddlLocationNPK").html(s);
            }
        });
    }

</script>