@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Persetujuan TMS</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Pengajuan</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlJenisTMS" name="options" class="form-control jenisTms">
                                            <option value="SKTA">SKTA</option>
                                            <option value="SPL">SPL</option>
                                            <option value="SUPEM">SUPEM</option>
                                            <option value="CUTI">CUTI</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Bulan</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlMonthly" class="form-control startdate">
                                            <option value="1">Januari</option>
                                            <option value="2">Februari</option>
                                            <option value="3">Maret</option>
                                            <option value="4">April</option>
                                            <option value="5">Mei</option>
                                            <option value="6">Juni</option>
                                            <option value="7">Juli</option>
                                            <option value="8">Agustus</option>
                                            <option value="9">September</option>
                                            <option value="10">Oktober</option>
                                            <option value="11">November</option>
                                            <option value="12">Desember</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tahun</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlThn" class="form-control enddate">
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Mulai</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtStart" class="form-control tglmulai">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Selesai</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtStart" class="form-control tglselesai">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPk" class="form-control npk">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlStatus" name="options" class="form-control status">
                                            <option value="P">On Progress</option>
                                            <option value="A">Approved</option>
                                            <option value="R">Rejected</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Input</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtInputDate" class="form-control tglselesai">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK Input</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPKInput" class="form-control npk_input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Shift</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlShift" class="form-control shift">
                                            <option value="0">Semua</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Nama Karyawan</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPk" class="form-control emp_name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Divisi</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlDivisi" name="options" class="form-control divisi">
                                            <option value="0">Semua</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Dept</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlDept" class="form-control dept">
                                            <option value="0">Semua</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Golongan</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlGolongan" class="form-control golongan">
                                            <option value="0">Semua</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Cost Center</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtCostCenter" class="form-control costcenter">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row clearfix">
                        <div class="form-group" style="margin-left: 160px">
                            <button type="button" id="btSearch" class="btn btn-primary">
                                <span>FILTER</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divDataSKTA">
                    <div class="panel-heading" role="tab" id="dataSKTA">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#data" aria-expanded="false"
                                aria-controls="data">

                            </a>
                        </h4>
                    </div>
                    <div id="data" class="panel-collapse in" role="tabpanel" aria-labelledby="dataSKTA">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button id="btnApproveAllSKTA" type="button"
                                    class="btn btn-success waves-effect">Approve</button>
                            </div>
                            <br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive"
                                    style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                                    <table id="tableSKTA" class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" id="chkSelectAllSKTA"
                                                        class="filled-in chkSelectAllSKTA" value="1" />
                                                    <label for="chkSelectAllSKTA"></label>
                                                </th>
                                                <th>No.</th>
                                                <th>NPK</th>
                                                <th>Nama Karyawan</th>
                                                <th>Divisi</th>
                                                <th>Dept</th>
                                                <th>Tgl. SKTA</th>
                                                <th>Tgl & Jam Mulai</th>
                                                <th>Tgl & Jam Keluar</th>
                                                <th>Info</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divDataSupem" style="display: none">
                    <div class="panel-heading" role="tab" id="dataSupem">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#data" aria-expanded="false"
                                aria-controls="data">

                            </a>
                        </h4>
                    </div>
                    <div id="datasupemd" class="panel-collapse in" role="tabpanel" aria-labelledby="dataSupem">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button id="btnApproveAllSUPEM" type="button"
                                    class="btn btn-success waves-effect">Approve</button>
                            </div>
                            <br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive"
                                    style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                                    <table id="tableSUPEM" class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" id="chkSelectAllSUPEM"
                                                        class="filled-in chkSelectAllSUPEM" value="1" />
                                                    <label for="chkSelectAllSUPEM"></label>
                                                </th>
                                                <th>No.</th>
                                                <th>NPK</th>
                                                <th>Nama Karyawan</th>
                                                <th>Divisi</th>
                                                <th>Dept</th>
                                                <th>Tgl. SUPEM</th>
                                                <th>Tgl & Jam Mulai</th>
                                                <th>Tgl & Jam Selesai</th>
                                                <th>Tipe SUPEM</th>
                                                <th>Info</th>
                                                <th>Status</th>
                                                <th>Tgl. Update</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel panel-default" id="divDataCUTI" style="display: none">
                    <div class="panel-heading" role="tab" id="dataCUTI">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#data" aria-expanded="false"
                                aria-controls="data">

                            </a>
                        </h4>
                    </div>
                    <div id="dataCUTI_" class="panel-collapse in" role="tabpanel" aria-labelledby="dataCUTI">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button id="btnApproveAllCUTI" type="button"
                                    class="btn btn-success waves-effect">Approve</button>
                            </div>
                            <br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive"
                                    style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                                    <table id="tableCUTI" class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    <input type="checkbox" id="chkSelectAllCUTI"
                                                        class="filled-in chkSelectAllCUTI" value="1" />
                                                    <label for="chkSelectAllCUTI"></label>
                                                </th>
                                                <th>No.</th>
                                                <th>NPK</th>
                                                <th>Nama Karyawan</th>
                                                <th>Divisi</th>
                                                <th>Dept</th>
                                                <th>Tipe Cuti</th>
                                                <th>Tanggal Cuti</th>
                                                <th>Status</th>
                                                <th>Tgl. Update</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divDataSPL" style="display: none">
                    <div class="panel-heading" role="tab" id="dataSPL">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#data" aria-expanded="false"
                                aria-controls="data">

                            </a>
                        </h4>
                    </div>
                    <div id="dataSPL_" class="panel-collapse in" role="tabpanel" aria-labelledby="dataSPL">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button id="btnApproveAllSPL" type="button"
                                    class="btn btn-success waves-effect">Approve</button>
                            </div>
                            <br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive"
                                    style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                                    <table id="tableSPL" class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" id="chkSelectAllSPL"
                                                        class="filled-in chkSelectAllSPL" value="1" />
                                                    <label for="chkSelectAllSPL"></label>
                                                </th>
                                                <th>No.</th>
                                                <th>NPK</th>
                                                <th>Nama Karyawan</th>
                                                <th>Divisi</th>
                                                <th>Dept</th>
                                                <th>Tgl. SPL</th>
                                                <th>Jam Mulai</th>
                                                <th>Jam Selesai</th>
                                                <th>Tipe SPL</th>
                                                <th>Info</th>
                                                <th>Status</th>
                                                <th>Tgl. Update</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLoader" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md modal-center" role="document">
        <div class="modal-content" style="border-radius: 5px; padding: 25px !important;">
            <div id="divLoadData" class="text-center p-100">
                <div class="preloader pl-size-xl">
                    <div class="spinner-layer pl-red-grey">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p class="text-center">Please wait ...</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ddlJenisTMS = $("#ddlJenisTMS").val();
    var totalRows = 2500;
    $(document).ready(function () {
        var date = new Date();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        $("#ddlMonthly").val(month);
        $("#ddlYear").val(year);
        $("#btSearch").click(function () {
            ddlJenisTMS = $("#ddlJenisTMS").val();
            actionDiv();

        });
        $(document).on('click', '#btnApproveAllSKTA', function () {
            approve();
        });
        $(document).on('click', '#btnApproveAllSUPEM', function () {
            approve();
        });
        $(document).on('click', '#btnApproveAllCUTI', function () {
            approve();
        });
        $(document).on('click', '#btnApproveAllSPL', function () {
            approve();
        });
        $('#chkSelectAllSKTA').on('click', function () {
            var rows = $('#tableSKTA').DataTable().rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
        $('#chkSelectAllSUPEM').on('click', function () {
            var rows = $('#tableSUPEM').DataTable().rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
        $('#chkSelectAllCUTI').on('click', function () {
            var rows = ('#tableCUTI').DataTable().rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
        $('#chkSelectAllSPL').on('click', function () {
            var rows = ('#tableSPL').DataTable().rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
    });
    function approve() {
        var jenisTms = $(".jenisTms option:selected").val();
        var selectedData = [];
        if (jenisTms == "SKTA") {
            $("#tableSKTA input[type=checkbox]:checked").each(function () {
                var row = $(this).closest("tr")[0];
                var check = row.cells[0].firstChild;
                var id = check.value;

                selectedData.push({
                    "keyID": id
                });
            });
        }
        else if (jenisTms == "SUPEM") {
            $("#tableSUPEM input[type=checkbox]:checked").each(function () {
                var row = $(this).closest("tr")[0];
                var check = row.cells[0].firstChild;
                var id = check.value;

                selectedData.push({
                    "keyID": id
                });
            });
        }
        else if (jenisTms == "CUTI") {
            $("#tableCUTI input[type=checkbox]:checked").each(function () {
                var row = $(this).closest("tr")[0];
                var check = row.cells[0].firstChild;
                var id = check.value;

                selectedData.push({
                    "keyID": id
                });
            });
        }
        else if (jenisTms == "SPL") {
            $("#tableSPL input[type=checkbox]:checked").each(function () {
                var row = $(this).closest("tr")[0];
                var check = row.cells[0].firstChild;
                var id = check.value;

                selectedData.push({
                    "keyID": id
                });
            });
        }
        var jsonData = JSON.stringify(selectedData);
        if (jsonData != "[]") {
            $.ajax({
                type: 'POST',
                url: "/ApvTMS/ApprovalTMS?jenisTms=" + jenisTms,
                data: jsonData,
                contentType: 'application/json',
                success: function (response) {
                    if (response.status == true) {
                        actionDiv();
                        alert(response.msg);
                    }
                    else {
                        alert(response.msg);
                    }
                }
            });
        }
        else {
            alert("Anda belum memilih karyawan yang akan di approve");
        }
    }
    function FilterSupem() {
        var jenisTms = $(".jenisTms option:selected").val();
        var pr = $(".startdate").val();
        var yr = $(".enddate").val();
        var npk = $(".npk").val();
        var npkinput = $(".npk_input").val();
        var tglinput = $(".inputdate").val();
        var tglmulai = $(".startdate").val();
        var tglakhir = $(".enddate").val();
        var emp_name = $(".emp_name").val();
        var status = $(".status option:selected").val();
        var emp_status = $(".emp_status option:selected").val();
        var divisi = $(".divisi option:selected").val();
        var dept = $(".dept option:selected").val();
        var golongan = $(".golongan option:selected").val();
        var costcenter = $(".costcenter").val();
        var shift = $(".shift option:selected").val();
        var tglmulai_filter = $(".tglmulai").val();
        var tglselesai_filter = $(".tglselesai").val();
        var filter = {
            jenisTms: jenisTms,
            pr: pr,
            yr: yr,
            npk: npk,
            emp_name: emp_name,
            emp_status: emp_status,
            stats: status,
            ID_division: divisi,
            ID_dept: dept,
            ID_golongan: golongan,
            npk_input: npkinput,
            date_input: tglinput,
            costcenter: costcenter,
            id_shift: shift,
            date_startText: tglmulai_filter,
            date_endText: tglselesai_filter
        }
        console.log(filter);
        $.ajax({
            url: "/ApvTMS/loadApproval",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableSUPEM')) {
                    $('#tableSUPEM').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableSUPEM").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": "permission_id", "name": "permission_id", "autoWidth": true,
                            "render": function (data, type, row) {
                                if (row.statsNm == "On Progress" && row.leave_id == 0)
                                    return '<input type="checkbox" id="id' + data + '" name="overtime_id" class="filled-in chkSelectSUPEM" value="' + data + '"/> <label for="id' + data + '"> </label>';

                                else
                                    return '';
                            }
                        },
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "emp_name", "name": "emp_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "div_name", "name": "div_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "dept_name", "name": "dept_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "permission_dateText", "name": "permission_dateText", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "date_start", "name": "date_start", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "date_end", "name": "date_end", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "permit_code_name", "name": "permit_code_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "info", "name": "info", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "statsText", "name": "statsText", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "date_input", "name": "date_input", "autoWidth": true, 'className': 'text-nowrap' },
                        {
                            "data": "permission_id", "name": "permission_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                return '<button type="button" id="btnDetailSUPEM" data-id=' + data + ' data-leave_id=' + row.leave_id + ' data-seqno=' + row.SeqNo + ' class="btn btn-warning waves-effect btnDetailSUPEM">Detail</button>';

                            }
                        },

                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });

    }
    function FilterSKTA() {
        var jenisTms = $(".jenisTms option:selected").val();
        var pr = $(".startdate").val();
        var yr = $(".enddate").val();
        var npk = $(".npk").val();
        var npkinput = $(".npk_input").val();
        var tglinput = $(".inputdate").val();
        var tglmulai = $(".startdate").val();
        var tglakhir = $(".enddate").val();
        var emp_name = $(".emp_name").val();
        var status = $(".status option:selected").val();
        var emp_status = $(".emp_status option:selected").val();
        var divisi = $(".divisi option:selected").val();
        var dept = $(".dept option:selected").val();
        var golongan = $(".golongan option:selected").val();
        var costcenter = $(".costcenter").val();
        var shift = $(".shift option:selected").val();
        var tglmulai_filter = $(".tglmulai").val();
        var tglselesai_filter = $(".tglselesai").val();
        var filter = {
            jenisTms: jenisTms,
            pr: pr,
            yr: yr,
            npk: npk,
            emp_name: emp_name,
            emp_status: emp_status,
            stats: status,
            ID_division: divisi,
            ID_dept: dept,
            ID_golongan: golongan,
            npk_input: npkinput,
            date_input: tglinput,
            costcenter: costcenter,
            id_shift: shift,
            date_startText: tglmulai_filter,
            date_endText: tglselesai_filter
        }
        console.log(filter);
        $.ajax({
            url: "/ApvTMS/loadApproval",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableSKTA')) {
                    $('#tableSKTA').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableSKTA").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": "letter_id", "name": "letter_id", "autoWidth": true,
                            "render": function (data, type, row) {
                                if (row.statsNm == "On Progress")
                                    return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelectSKTA" value="' + data + '"/> <label for="id' + data + '"> </label>';

                                else
                                    return '';
                            }
                        },
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "emp_name", "name": "emp_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "div_name", "name": "div_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "dept_name", "name": "dept_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "sktaDateText", "name": "sktaDateText", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "jam_mulai", "name": "jam_mulai", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "jam_selesai", "name": "jam_selesai", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "info", "name": "info", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "statsText", "name": "statsText", "autoWidth": true, 'className': 'text-nowrap' },
                        {
                            "data": "letter_id", "name": "letter_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                return '<button type="button" id="btnDetailSKTA" data-id=' + data + ' data-skta_date="' + row.skta_dateText + '" class="btn btn-warning waves-effect btnDetailSKTASKTA">Detail</button>';

                            }
                        },

                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });

    }
    function FilterCUTI() {
        var jenisTms = $(".jenisTms option:selected").val();
        var pr = $(".startdate").val();
        var yr = $(".enddate").val();
        var npk = $(".npk").val();
        var npkinput = $(".npk_input").val();
        var tglinput = $(".inputdate").val();
        var tglmulai = $(".startdate").val();
        var tglakhir = $(".enddate").val();
        var emp_name = $(".emp_name").val();
        var status = $(".status option:selected").val();
        var emp_status = $(".emp_status option:selected").val();
        var divisi = $(".divisi option:selected").val();
        var dept = $(".dept option:selected").val();
        var golongan = $(".golongan option:selected").val();
        var costcenter = $(".costcenter").val();
        var shift = $(".shift option:selected").val();
        var tglmulai_filter = $(".tglmulai").val();
        var tglselesai_filter = $(".tglselesai").val();
        var filter = {
            jenisTms: jenisTms,
            pr: pr,
            yr: yr,
            npk: npk,
            emp_name: emp_name,
            emp_status: emp_status,
            stats: status,
            ID_division: divisi,
            ID_dept: dept,
            ID_golongan: golongan,
            npk_input: npkinput,
            date_input: tglinput,
            costcenter: costcenter,
            id_shift: shift,
            date_startText: tglmulai_filter,
            date_endText: tglselesai_filter
        }
        console.log(filter);
        $.ajax({
            url: "/ApvTMS/loadApproval",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableCUTI')) {
                    $('#tableCUTI').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableCUTI").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": "leave_id", "name": "leave_id", "autoWidth": true,
                            "render": function (data, type, row) {
                                if (row.statsNm == "On Progress" && parseInt(row["cico_id"]) == 0)
                                    return '<input type="checkbox" id="id' + data + '" name="leave_id" class="filled-in chkSelect" value="' + data + '"/> <label for="id' + data + '"> </label>';
                                else
                                    return '';

                            }
                        },
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "emp_name", "name": "emp_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "div_name", "name": "div_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "dept_name", "name": "dept_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "leave_typeText", "name": "leave_typeText", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "leave_dateText", "name": "leave_dateText", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "statsText", "name": "statsText", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "last_updateText", "name": "last_updateText", "autoWidth": true, 'className': 'text-nowrap' },
                        {
                            "data": "leave_id", "name": "leave_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                return '<button type="button" id="btnDetailCUTI" data-id=' + data + ' data-date="' + row["leave_dateText"] + '" data-cicoid="' + row["cico_id"] + '" data-seqno="' + row["SeqNo"] + '" class="btn btn-warning waves-effect btnDetailCUTI">Detail</button>';

                            }
                        },

                    ],
                    createdRow: function (row, data, index) {
                        if ((data["cico_id"] == null || data["cico_id2"] == 0)) {
                            $(row).addClass('red');
                        }
                        else
                            $(row).removeClass('red');
                    },
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });

    }
    function FilterSPL() {
        var jenisTms = $(".jenisTms option:selected").val();
        var pr = $(".startdate").val();
        var yr = $(".enddate").val();
        var npk = $(".npk").val();
        var npkinput = $(".npk_input").val();
        var tglinput = $(".inputdate").val();
        var tglmulai = $(".startdate").val();
        var tglakhir = $(".enddate").val();
        var emp_name = $(".emp_name").val();
        var status = $(".status option:selected").val();
        var emp_status = $(".emp_status option:selected").val();
        var divisi = $(".divisi option:selected").val();
        var dept = $(".dept option:selected").val();
        var golongan = $(".golongan option:selected").val();
        var costcenter = $(".costcenter").val();
        var shift = $(".shift option:selected").val();
        var tglmulai_filter = $(".tglmulai").val();
        var tglselesai_filter = $(".tglselesai").val();
        var filter = {
            jenisTms: jenisTms,
            pr: pr,
            yr: yr,
            npk: npk,
            emp_name: emp_name,
            emp_status: emp_status,
            stats: status,
            ID_division: divisi,
            ID_dept: dept,
            ID_golongan: golongan,
            npk_input: npkinput,
            date_input: tglinput,
            costcenter: costcenter,
            id_shift: shift,
            date_startText: tglmulai_filter,
            date_endText: tglselesai_filter
        }
        console.log(filter);
        $.ajax({
            url: "/ApvTMS/loadApproval",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableSPL')) {
                    $('#tableSPL').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableSPL").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": "overtime_id", "name": "overtime_id", "autoWidth": true,
                            "render": function (data, type, row) {
                                if (row.statsNm == "On Progress")
                                    if (row.SeqNo == 5 && row.cico_id2 == null)
                                        return '';
                                    else if (row.SeqNo == 5 && row.cico_id2 == 0)
                                        return '';
                                    else
                                        return '<input data-SeqNo="' + row.SeqNo + '" type="checkbox" id="id' + data + '" name="overtime_id" class="filled-in chkSelectSPL" value="' + data + '"/> <label for="id' + data + '"> </label>';
                                else
                                    return '';
                            }
                        },
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "emp_name", "name": "emp_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "div_name", "name": "div_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "dept_name", "name": "dept_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "overtimeDateText", "name": "overtimeDateText", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "jam_mulai", "name": "jam_mulai", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "jam_selesai", "name": "jam_selesai", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "type_name", "name": "type_name", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "info", "name": "info", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "statsNm", "name": "statsNm", "autoWidth": true, 'className': 'text-nowrap' },
                        { "data": "date_input", "name": "date_input", "autoWidth": true, 'className': 'text-nowrap' },
                        {
                            "data": "overtime_id", "name": "overtime_id", "autoWidth": true,
                            "render": function (data, type, row, meta) {
                                return '<button type="button" id="btnDetailSPL" data-id=' + row.overtime_id + ' class="btn btn-warning waves-effect btnDetailSPL">Detail</button>';

                            }
                        },

                    ],
                    createdRow: function (row, data, index) {
                        if ((data["cico_id2"] == null || data["cico_id2"] == 0)) {
                            $(row).addClass('red');
                        }
                        else
                            $(row).removeClass('red');
                    },
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });

    }
    function actionDiv() {
        if (ddlJenisTMS == "SKTA") {
            FilterSKTA();
            $("#divDataSKTA").show();
            $("#divDataSupem").hide();
            $("#divDataCUTI").hide();
            $("#divDataSPL").hide();

        }
        else if (ddlJenisTMS == "SUPEM") {
            FilterSupem();
            $("#divDataSKTA").hide();
            $("#divDataSupem").show();
            $("#divDataCUTI").hide();
            $("#divDataSPL").hide();

        }
        else if (ddlJenisTMS == "SPL") {
            FilterSPL();
            $("#divDataSKTA").hide();
            $("#divDataSupem").hide();
            $("#divDataCUTI").hide();
            $("#divDataSPL").show();
        }
        else if (ddlJenisTMS == "CUTI") {
            FilterCUTI();
            $("#divDataSKTA").hide();
            $("#divDataSupem").hide();
            $("#divDataCUTI").show();
            $("#divDataSPL").hide();
        }
    }
</script>