@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PENGAJUAN TMS</h5>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Pengajuan</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlJenisTMS" name="options" class="form-control">
                                            <option value="SKTA">SKTA</option>
                                            <option value="SPL">SPL</option>
                                            <option value="SUPEM">SUPEM</option>
                                            <option value="CUTI">CUTI</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Bulan</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlMonthly" class="form-control">
                                            <option value="1">Januari</option>
                                            <option value="2">Februari</option>
                                            <option value="3">Maret</option>
                                            <option value="4">April</option>
                                            <option value="5">Mei</option>
                                            <option value="6">Juni</option>
                                            <option value="7">Juli</option>
                                            <option value="8">Agustus</option>
                                            <option value="9">September</option>
                                            <option value="10">Oktober</option>
                                            <option value="11">November</option>
                                            <option value="12">Desember</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tahun</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlThn" class="form-control">
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Mulai</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtStart" class="form-control tglmulai">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="form-group" style="margin-left: 160px">
                                <button type="button" id="btSearch" class="btn btn-primary">
                                    <span>FILTER</span>
                                </button>
                            </div>
                        </div>



                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPk" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Status</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlStatus" name="options" class="form-control">
                                            <option value="">- All -</option>
                                            <option value="P" selected>On Progress</option>
                                            <option value="A">Approved</option>
                                            <option value="R">Rejected</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Input</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtTglInput" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Tanggal Selesai</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="date" id="txtEnd" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Nama</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNama" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Divisi</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select id="ddlDivisi" name="options" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">Department</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <select name="" id="ddlDept" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK Input</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNpkInput" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row" id="divSKTA">
                </div>
                <div class="row" id="divSUPEM">
                    <div>
                        <button type="button" id="btnAddSUPEM" class="btn btn-info">
                            <span>Buat SUPEM</span>
                        </button>
                        <button type="button" id="btnUploadSUPEM" class="btn btn-info">
                            <span>Upload SUPEM</span>
                        </button>
                        <button type="button" id="btnDownloadSUPEM" class="btn btn-info">
                            <span>Export to Excel</span>
                        </button>
                        <button type="button" id="btnPrintSUPEM" class="btn btn-info">
                            <span>Cetak Rekap Print</span>
                        </button>
                    </div>
                    <br>
                    <br>
                    <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                        <table id="tableSUPEM" class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <input type="checkbox" id="chkSelectAllSUPEM"
                                               class="filled-in chkSelectAllSUPEM" value="1" />
                                        <label for="chkSelectAllSUPEM"></label>
                                    </th>
                                    <th>No.</th>
                                    <th>NPK</th>
                                    <th>Nama Karyawan</th>
                                    <th>Divisi</th>
                                    <th>Dept</th>
                                    <th>Tgl. SUPEM</th>
                                    <th>Tgl & Jam Mulai</th>
                                    <th>Tgl & Jam Selesai</th>
                                    <th>Tipe SUPEM</th>
                                    <th>Info</th>
                                    <th>Status</th>
                                    <th>NPK Input</th>
                                    <th>Tgl. Input</th>
                                    <th>Approval Atasan</th>
                                    <th>Tgl. Approve Atasan</th>
                                    <th>NPK HRD</th>
                                    <th>Tgl. Approve HRD</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLoader" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-md modal-center" role="document">
            <div class="modal-content" style="border-radius: 5px; padding: 25px !important;">
                <div id="divLoadData" class="text-center p-100">
                    <div class="preloader pl-size-xl">
                        <div class="spinner-layer pl-red-grey">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Please wait ...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAddSUPEM" tabindex="-1" data-backdrop="static" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="H1">Form Pengajuan SUPEM</h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">NPK</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" id="txtAddNPK" class="form-control add_npkSUPEM"
                                           value="@ViewBag.npk" />
                                    <input type="text" id="txtAddNPK_" class="form-control add_npk"
                                           value="@ViewBag.npk" style="display: none;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Nama Karyawan</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" id="txtName" class="form-control add_nameSUPEM"
                                           readonly="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Tanggal Kerja</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="date" id="TglSupem" class="form-control datepicker supem_date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix IsNeedAbsen">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Jam Masuk</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" id="ClockIn" class="form-control clock_inSUPEM" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix IsNeedAbsen">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Jam Keluar</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" id="ClockOut" class="form-control clock_outSUPEM" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Tipe SUPEM</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <select id="ddlTypeSupem" name="options" class="form-control permit_id permit_type">
                                    </select>
                                    <input type="text" id="permitMaxDays" class="form-control permit_max_days" value="0"
                                           style="display: none" />
                                    <input type="text" id="permitNeedAbs" class="form-control need_abs" value="0"
                                           style="display: none" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix IsStatusJam">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Tanggal/Jam Mulai</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" id="txtDateStart" class="form-control date_startSUPEM" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix IsStatusJam">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Tanggal/Jam Selesai</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <input type="text" id="txtDateEnd" class="form-control date_endSUPEM datetimepicker-input" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Keterangan</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">

                                    <textarea id="txtInfo" class="form-control infoSUPEM"
                                              placeholder="Masukkan keterangan" cols="3" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix" id="divDHSUPEM">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Approval Dept Head</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <select id="ddlAtasanSUPEM" name="add_atasan"
                                            class="form-control add_atasanSUPEM select2"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" id="divAtasanAtasanSUPEM" style="display: none">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-control-label no-margin">
                            <label for="color">Approval Atasan</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="form-group no-margin">
                                <div class="form-line">
                                    <select id="ddlAtasanAtasanSUPEM" name="add_atasan_atasan"
                                            class="form-control add_atasan_atasanSUPEM select2"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSendSUPEM" class="btn btn-success waves-effect">Kirim</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    var ddlJenisTMS = $("#ddlJenisTMS").val();
    var totalRows = 2500;
    var is_statusJam = false;
    var add_npk = "";
    $(document).ready(function () {
        var date = new Date();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        $("#ddlMonthly").val(month);
        $("#ddlYear").val(year);
        actionDiv();
        $("#btSearch").click(function () {
            ddlJenisTMS = $("#ddlJenisTMS").val();
            GetEmployee(add_npk);
            LoadAtasan(add_npk);
            LoadAtasanAtasan(add_npk);
            LoadTipeSupem(add_npk);
            actionDiv();

        });
        add_npk = $(".add_npk").val();

        ButtonSUPEM();
    });
    function ButtonSUPEM() {
        $("#btnDownloadSUPEM").click(function () {
            excelSupem();
        });
        $("#btnUploadSUPEM").click(function () {

        });
        $("#btnAddSUPEM").click(function () {
            $("#modalAddSUPEM").modal('show');
        });
        $("#btnPrintSUPEM").click(function () {
            print();
        });
        $("#btnSendSUPEM").click(function () {
            save();
        });
        $(document).on('change', '.add_npkSUPEM', function () {
            add_npk = $(".add_npkSUPEM").val();
            ddlJenisTMS = $("#ddlJenisTMS").val();
            $('.add_nameSUPEM').val("");
            $('.supem_date').val("");
            $('.clock_inSUPEM').val("");
            $('.clock_outSUPEM').val("");
            $('.date_startSUPEM').val("");
            $('.date_endSUPEM').val("");
            $('.permit_id').val("0");
            GetEmployee(add_npk);
            LoadAtasan(add_npk);
            LoadAtasanAtasan(add_npk);
            LoadTipeSupem(add_npk);
        });
        needAbsen(false);
        statusJam(false);
        $(".permit_id").change(function () {
            var permit_id = $('.permit_id option:selected').val();
            if (permit_id != "0") {

                if (permit_id == "35") {
                    var supem_date = $('.supem_date').val();
                    $('.date_startSUPEM').val(supem_date + " " + "00:00");
                    $('.date_endSUPEM').val(supem_date + " " + "00:00");
                    $('.date_startSUPEM').prop('disabled', false);
                    $('.date_endSUPEM').prop('disabled', false);
                }
                else if (permit_id == "24" || permit_id == "25" || permit_id == "26" || permit_id == "27") {
                    var supem_date = $('.supem_date').val();
                    var formatDate = 'Y-m-d H:i';
                    var oneDat = new Date(supem_date);
                    oneDat.setDate(oneDat.getDate() + 1);
                    validateTanggalMulai(formatDate, supem_date, oneDat, true, true);
                    validateTanggalSelesai(formatDate, supem_date, true, true);
                    $('.date_startSUPEM').val(supem_date + " " + "00:00");
                    $('.date_endSUPEM').val(supem_date + " " + "00:00");
                    statusJam(true);
                    $('.date_startSUPEM').prop('disabled', false);
                    $('.date_endSUPEM').prop('disabled', false);
                    $('#permitMaxDays').val(1);
                }
                else {
                    $('.date_startSUPEM').val("");
                    $('.date_endSUPEM').val("");
                    statusJam(false);
                    $('.date_startSUPEM').prop('disabled', false);
                    $('.date_endSUPEM').prop('disabled', false);
                    GetPermissionType(permit_id);
                }
            }


        });
        $(document).on('change', '.supem_date', function () {
            GetCICO();
            $('.date_startSUPEM').val("");
            $('.date_endSUPEM').val("");
            var permit_id = $('.permit_id option:selected').val();
            if (permit_id != "0") {
                $('.date_startSUPEM').prop('disabled', false);
                $('.date_endSUPEM').prop('disabled', false);
                GetPermissionType(permit_id);
            }
        });
    }
    function FilterSupem() {
        var filter = {
            pr: $("#ddlMonthly").val(),
            yr: $("#ddlThn").val(),
            npk: $("#txtNPk").val(),
            nama: $("#txtNama").val(),
            status: $("#ddlStatus").val(),
            divisi: $("#ddlDivisi").val(),
            dept: $("#ddlDept").val(),
            npk_input: $("#txtNpkInput").val(),
            date_input: $("#txtTglInput").val(),
            tgl_mulai: $("#txtStart").val(),
            tgl_selesai: $("#txtEnd").val()
        }
        $.ajax({
            url: "/AddTMS/loadSUPEM",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(filter),
            dataType: "json",
            success: function (response) {
                console.log("Data received:", response);
                $("#modalLoader").modal('hide');
                // Destroy existing DataTable (if any)
                if ($.fn.DataTable.isDataTable('#tableSUPEM')) {
                    $('#tableSUPEM').DataTable().clear().destroy();
                }

                // Initialize DataTable
                $("#tableSUPEM").DataTable({
                    data: response.data,
                    columns: [
                        {
                            "data": "permission_id", "name": "permission_id", "autoWidth": true,
                            "render": function (data, type, row) {
                                return '<input type="checkbox" id="id' + data + '" name="letter_id" class="filled-in chkSelect" value="' + data + '"/> <label for="id' + data + '"> </label>'
                            }
                        },
                        {
                            "data": null,
                            "sortable": false,
                            "render": function (data, type, row, meta) {
                                // Generate row number
                                return meta.row + 1;
                            }
                        },
                        { "data": "npk", "name": "npk", "autoWidth": true },
                        { "data": "emp_name", "name": "emp_name", "autoWidth": true },
                        { "data": "div_name", "name": "div_name", "autoWidth": true },
                        { "data": "dept_name", "name": "dept_name", "autoWidth": true },
                        { "data": "permission_dateText", "name": "permission_dateText", "autoWidth": true },
                        { "data": "date_start", "name": "date_start", "autoWidth": true },
                        { "data": "date_end", "name": "date_end", "autoWidth": true },
                        { "data": "permit_code_name", "name": "permit_code_name", "autoWidth": true },
                        { "data": "info", "name": "info", "autoWidth": true },
                        { "data": "statsText", "name": "statsText", "autoWidth": true },
                        { "data": "npk_input", "name": "npk_input", "autoWidth": true },
                        { "data": "date_input", "name": "date_input", "autoWidth": true },
                        { "data": "npk_apv", "name": "npk_apv", "autoWidth": true },
                        { "data": "date_atasan", "name": "date_atasan", "autoWidth": true },
                        { "data": "npk_hrd", "name": "npk_hrd", "autoWidth": true },
                        { "data": "date_hrd", "name": "date_hrd", "autoWidth": true },
                    ],
                    processing: true, // Show processing indicator
                    paging: true, // Enable pagination
                    ordering: true, // Enable sorting
                    searching: true, // Enable searching
                    pageLength: totalRows, // Number of rows per page
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Memuat...',
                        loadingRecords: "Memuat...",
                        zeroRecords: "Tidak ada data yang ditemukan"
                    }
                });
            },
            error: function (xhr, error, thrown) {
                console.log("Error fetching data:", error);
            }
        });
    }
    function excelSupem() {
        $("#modalLoader").modal('show');
        selectedData = [];
        $("#tableSUPEM input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
            var check = row.cells[0].firstChild;
            var id = check.value;
            selectedData.push({
                "keyID": id
            });
        });
        var jsonData = JSON.stringify(selectedData);
        if (jsonData != "[]") {
            $.ajax({
                url: "/AddTMS/ExportSUPEM",
                type: 'POST',
                data: jsonData,
                //  responseType: 'blob', // Tipe respons adalah blob
                xhrFields: {
                    responseType: 'blob' // Mengatur tipe respons menjadi blob
                },
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var url = URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = 'DataSupem.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);
                    $("#modalLoader").modal('hide');
                },
                error: function (xhr, status, error) {
                    // Handle error jika permintaan gagal
                    console.error('Error:', error);
                }
            });

        }
    }
    function print() {

    }
    function save() {
        var error = false;
        var message = "";
        var add_npk = $(".add_npkSUPEM").val();
        var info = $(".infoSUPEM").val();
        var supem_date = $(".supem_date").val();
        var clock_in = $(".clock_inSUPEM").val();
        var clock_out = $(".clock_outSUPEM").val();
        var date_start = $(".date_startSUPEM").val();
        var date_end = $(".date_endSUPEM").val();
        var permit_id = $(".permit_id option:selected").val();
        var permit_max_days = $(".permit_max_days").val();
        var atasan = $(".add_atasanSUPEM option:selected").val();
        var atasanspv = $(".add_atasan_spv option:selected").val();
        var atasanatasan = $(".add_atasan_atasanSUPEM option:selected").val();
        if (supem_date == "" || supem_date == "____-__-__") {
            error = true;
            message = "Tanggal pengajuan SUPEM harus diisi";
        }
        else if (permit_id == "0") {
            error = true;
            message = "Tipe pengajuan SUPEM harus tentukan";
        }
        else if ((permit_id == "24" || permit_id == "25" || permit_id == "26" || permit_id == "27") && (date_start.substring(11, 16) == "00:00" || date_end.substring(11, 16) == "00:00")) {
            console.log(date_start)
            error = true;
            message = "Jam Harus Diisi Sesuai Aktual";
        }
        else if (atasan == "") {
            error = true;
            message = "Atasan harus dipilih";
        }
        if (error) {
            swal({
                title: "",
                text: message,
                icon: "warning",
                confirmButtonText: "OK"
            });
        }
        else {
            var is_statusJam_ = "false";
            if (is_statusJam == true) {
                is_statusJam_ = "true";
            }
            var dataSPL = {
                npk: add_npk,
                permission_date: supem_date,
                date_start: date_start,
                date_end: date_end,
                permit_id: permit_id,
                max_days: permit_max_days,
                npk_atasan: atasan,
                apv_spv: atasanspv,
                apv_atasan: atasanatasan,
                info: info,
                is_status_jam: is_statusJam_,
            }
            console.log(dataSPL);

            var jsonData = JSON.stringify(dataSPL);
            $('#btnSend').prop('disabled', true);
            $.ajax({
                type: 'POST',
                url: "/AddTMS/CreateSupem",
                data: jsonData,
                contentType: "application/json",
                success: function (response) {
                    if (response.success) {
                        swal({
                            title: "",
                            text: response.message,
                            icon: "success",
                            confirmButtonText: "OK"
                        }).then(function () {
                            FilterSupem();
                            clearForm();
                            $('#btnSend').prop('disabled', false);
                            $('#modalAdd').modal('toggle');
                        });
                    }
                    else {
                        $('#btnSend').prop('disabled', false);
                        swal({
                            title: "",
                            text: response.message,
                            icon: "warning",
                            confirmButtonText: "OK"
                        });
                    }
                }
            });
        }
    }
    function clearForm() {
        $(".add_info").val("");
        $(".supem_date").val("");
        $(".clock_inSUPEM").val("");
        $(".clock_outSUPEM").val("");
        $(".date_startSUPEM").val("");
        $(".date_endSUPEM").val("");
        $(".permit_id").val('0').trigger("chosen:updated");
        $(".add_atasanSUPEM").val(null).trigger("chosen:updated");
        $(".add_atasan_atasanSUPEM").val(null).trigger("chosen:updated");
    }
    function GetEmployee(npk) {

        $.ajax({
            url: "/AddTMS/GetEmployee?add_npk=" + npk,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data.status == true) {
                    var result = data.data;
                    console.log(result);
                    if (ddlJenisTMS == "SUPEM") {
                        $('.add_npkSUPEM').val(result.npk);
                        $('.add_nameSUPEM').val(result.name);
                        if (result.levelIdxNo == 4) {
                            $("#divAtasanAtasanSUPEM").hide();
                            $("#divDHSUPEM").show();
                        }
                        else if (result.levelIdxNo <= 3) {
                            $("#divDHSUPEM").hide();
                            $("#divAtasanAtasanSUPEM").show();
                        }
                        else {
                            $("#divDHSUPEM").show();
                            $("#divAtasanAtasanSUPEM").hide();
                        }
                    }
                }
            }
        });

    }
    function LoadTipeSupem(npk) {
        $("#ddlTypeSupem").empty();
        $.ajax({
            url: "/AddTMS/GetListSupemType?npk=" + npk,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data.status == true) {
                    var s = '';
                    for (var i = 0; i < data.emp.length; i++) {
                        s += '<option value="' + data["emp"][i].permit_id + '">' + data["emp"][i].permit_name + '</option>';
                    }
                    $("#ddlTypeSupem").html(s);
                }
            }
        });

    }
    function LoadAtasan(npk) {
        $(".add_atasanSUPEM").empty();
        $.ajax({
            url: "/AddTMS/GetAtasanDH?add_npk=" + npk,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data.status == true) {
                    var s = '';
                    for (var i = 0; i < data.emp.length; i++) {
                        s += '<option value="' + data["emp"][i].npk + '">' + data["emp"][i].name + '</option>';
                    }
                    $(".add_atasanSUPEM").html(s);
                }
            }
        });

    }
    function LoadAtasanAtasan(npk) {
        $(".add_atasan_atasanSUPEM").empty();
        $.ajax({
            url: "/AddTMS/GetAtasanBasedOrganization?add_npk=" + npk,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data.status == true) {
                    var s = '';
                    for (var i = 0; i < data.emp.length; i++) {
                        s += '<option value="' + data["emp"][i].npk + '">' + data["emp"][i].name + '</option>';
                    }
                    $(".add_atasan_atasanSUPEM").html(s);
                }
            }
        });

    }
    function actionDiv() {
        if (ddlJenisTMS == "SKTA") {
            $("#divSKTA").show();
            $("#divSUPEM").hide();
            $("#divSPL").hide();
            $("#divCUTI").hide();
            $("#divDHSUPEM").hide();
            $("#divAtasanAtasanSUPEM").hide();
        }
        else if (ddlJenisTMS == "SUPEM") {
            FilterSupem();
            $("#divSKTA").hide();
            $("#divSUPEM").show();
            $("#divSPL").hide();
            $("#divCUTI").hide();
            $("#divDHSUPEM").show();
            $("#divAtasanAtasanSUPEM").show();

        }
        else if (ddlJenisTMS == "SPL") {
            $("#divSKTA").hide();
            $("#divSUPEM").hide();
            $("#divSPL").show();
            $("#divCUTI").hide();
            $("#divDHSUPEM").hide();
            $("#divAtasanAtasanSUPEM").hide();
        }
        else if (ddlJenisTMS == "CUTI") {
            $("#divSKTA").hide();
            $("#divSUPEM").hide();
            $("#divSPL").hide();
            $("#divCUTI").show();
            $("#divDHSUPEM").hide();
            $("#divAtasanAtasanSUPEM").hide();
        }
    }
    function GetPermissionType(permit_id) {
        var supem_date = $(".supem_date").val();
        $.ajax({
            url: "/AddTMS/GetPermissionType",
            type: "POST",
            dataType: 'json',
            data: {
                permit_id: permit_id,
                supem_date: supem_date,
            },
            success: function (response) {

                $('#permitMaxDays').val(response.max_days);
                $('.need_abs').val(response.need_abs);

                var isNeedAbs = false;
                var isNeedTime = false;

                var max_days = response.max_days;
                var max_date = response.max_date;
                var need_abs = 0;
                var status_jam = 0;

                //needAbsen(false);
                if (response.need_abs > 0) {
                    need_abs = response.need_abs;
                    isNeedAbs = true;
                    //needAbsen(true);

                }

                var flagDate = false;
                var flagTime = false;
                var formatDate = 'Y-m-d';

                statusJam(false);
                if (response.status_jam > 0) {
                    status_jam = response.status_jam;
                    formatDate = 'H:i';
                    isNeedTime = true;
                    statusJam(true);
                    flagTime = true;
                    is_statusJam = true;
                }

                if (response.need_abs > 0 && status_jam == 0) {
                    status_jam = response.status_jam;
                    formatDate = 'Y-m-d';
                    isNeedTime = false;
                    statusJam(true);
                    flagTime = true;
                    is_statusJam = true;
                }
                console.log("ddd" + is_statusJam);
                statusJam(true);
                showValidate(isNeedAbs, isNeedTime, formatDate, supem_date, max_date, flagDate, flagTime);
            }
        });
    }
    function GetCICO() {
        $('.clock_in').val("");
        $('.clock_out').val("");
        var npk = $(".add_npk").val();
        var supem_date = $(".supem_date").val();
        var approvals = {
            npk: npk,
            supem_date: supem_date,
        };

        $.ajax({
            type: 'post',
            url: '/AddTMS/GetCICO',
            data: approvals,
            success: function (e) {
                console.log(e);
                if (e.status == true) {
                    var response = e.data;
                    if (response.checkInTimeText != "" || response.checkOutTimeText != "")
                        needAbsen(true);
                    else
                        needAbsen(false);
                    $(".clock_inSUPEM").val(response.checkInTimeText);
                    $(".clock_outSUPEM").val(response.checkOutTimeText);
                }

            },
            error: function (response) {
                console.log(response)
            }
        });
    }

    function showValidate(isNeedAbs, isNeedTime, formatDate, minDate, maxDate, flagDate, flagTime) {
        console.log(isNeedAbs)
        console.log(isNeedTime)
        if (isNeedAbs && isNeedTime) {
            formatDate = 'H:i';
            validateTanggalMulai(formatDate, minDate, maxDate, flagDate, flagTime);
            validateTanggalSelesai(formatDate, minDate, flagDate, flagTime);
        }
        else if (!isNeedAbs && !isNeedTime) {
            formatDate = 'Y-m-d';
            validateTanggalMulai(formatDate, minDate, maxDate, true, false);
            validateTanggalSelesai(formatDate, minDate, true, false);
        }
        else if (isNeedAbs) {
            formatDate = 'Y-m-d';
            validateTanggalMulai(formatDate, minDate, maxDate, true, false);
            validateTanggalSelesai(formatDate, minDate, true, false);
        }
        else if (isNeedTime) {
            formatDate = 'H:i';
            validateTanggalMulai(formatDate, minDate, maxDate, flagDate, flagTime);
            validateTanggalSelesai(formatDate, minDate, flagDate, flagTime);
        }
    }

    function needAbsen(isTrue) {
        $('.IsNeedAbsen').hide();
        if (isTrue)
            $('.IsNeedAbsen').show();
    }

    function statusJam(isTrue) {
        $('.IsStatusJam').hide();
        if (isTrue)
            $('.IsStatusJam').show();
    }

    function validateTanggalMulai(formatDate, minDate, maxDate, flagDate, flagTime) {

    @* $('.date_startSUPEM').datetimepicker({
            pickDate: false,
            //  pickTime: flagTime,
            format: "YYYY-MM-DD HH:mm",
            minDate: minDate,
            maxDate: maxDate,
            mask: true,
            icons: {
            time: 'fa fa-clock',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-calendar-check',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
            }

            }); *@
                var noCalendar = false;
        if (flagTime == true && flagDate == false) {
            noCalendar = true;
            minDate = null;
            maxDate = null;
            console.log("ddd");
            flatpickr(".date_startSUPEM", {
                enableTime: flagTime, // Aktifkan pemilihan waktu
                dateFormat: formatDate, // Format tanggal dan waktu
                time_24hr: true,
                noCalendar: noCalendar
            });
        }
        else {
            flatpickr(".date_startSUPEM", {
                enableTime: flagTime, // Aktifkan pemilihan waktu
                dateFormat: formatDate, // Format tanggal dan waktu
                time_24hr: true,
                minDate: minDate,
                maxDate: maxDate,
                noCalendar: noCalendar
            });
        }


    }

    function validateTanggalSelesai(formatDate, minDate, flagDate, flagTime) {
    @* $('.date_endSUPEM').datetimepicker({
            datepicker: flagDate,
            timepicker: flagTime,
            format: formatDate,
            minDate: minDate,
            mask: true }); *@

                var noCalendar = false;
        if (flagTime == true && flagDate == false) {
            noCalendar = true;
            minDate = null;
            maxDate = null;
            flatpickr(".date_endSUPEM", {
                enableTime: flagTime, // Aktifkan pemilihan waktu
                dateFormat: formatDate, // Format tanggal dan waktu
                time_24hr: true,
                noCalendar: noCalendar
            });
        }
        else {
            console.log(flagDate);
            console.log(flagTime);
            console.log(formatDate);
            console.log(minDate);
            console.log(noCalendar);
            flatpickr(".date_endSUPEM", {
                enableTime: flagTime, // Aktifkan pemilihan waktu
                dateFormat: formatDate, // Format tanggal dan waktu
                time_24hr: true,
                minDate: minDate,
                noCalendar: noCalendar
            });
        }

    }

</script>