@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">SETTING MENU</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">NPK</label>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <div class="form-line">
                                        <input type="text" id="txtNPk" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label no-margin">
                                <label for="color">&nbsp;</label>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group no-margin">
                                    <button type="button" id="btSearch" class="btn btn-primary">
                                        <span>FILTER</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="table-responsive" style="padding-bottom: 5px; overflow-x: auto; width: 100%">
                    <table id="tableMenu" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th> <input type="checkbox" id="chkSelectAll" class="filled-in chkSelectAll"
                                        value="1" />
                                    <label for="chkSelectAll"> </label>
                                </th>
                               
                                <th>Menu</th>
                                <th>Menu Path</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>